[2015-01-15 23:20] michelemottini opened #11 "FHIR call details in the server quick start"
In the [server quick start](http://docs.smartplatforms.org/tutorials/server-quick-start/):

- The app asks also for the `FamilyHistory` of the patient, not just for the weight/height/BMI observations

- In the observation response example the quantities have a units `code` without the corresponding `system`, that is compulsory if `code` is specified

[2015-01-15 23:38] nschwertner commented on #11
Thank you for pointing this problem out. Probably this example was copied incorrectly some time ago. From what I see, our sample patient generator includes the system in the units of measurement:
https://github.com/smart-on-fhir/sample-patients/blob/master/bin/fhir_templates/observation.xml#L31

We will fix the docs.

[2015-01-17 20:02] nschwertner commented on #11
Docs at http://docs.smartplatforms.org/tutorials/server-quick-start/ are up to date

[2015-01-17 20:02] #11 closed

[2015-02-06 19:41] michelemottini opened #12 "Public client authorization - missing client_id parameter"
At step 4 [here](http://docs.smartplatforms.org/authorization/public/)  the request should include also `client_id=app-client-id`

[2015-02-06 19:52] #12 closed

[2015-02-06 19:52] jmandel commented on #12
Great catch, thanks!

[2015-03-02 23:35] bakerdb opened #13 "Modified Sequence Diagram"
![new_confidentialv2](https://cloud.githubusercontent.com/assets/10760477/6454408/0d6a1f78-c0fe-11e4-8d4e-feb166f88535.png)

URL to editable diagram is at https://www.websequencediagrams.com/?open=78051

[2015-03-02 23:40] jmandel commented on #13
Thanks Dixie! The one tweak I'd suggest (or question I'd ask) is that when an app launches from the EHR, it's launching from a UI system (the thing clinicians actually call "the EHR" -- e.g. PowerChart for Cerner, or Hyperspace for Epic) and not specifically from the authorization server. I'm hesitant to add a whole new actor just for that point... but maybe we should just remove the first arrow a

[2015-03-03 00:01] bakerdb commented on #13
I agree with you!  In fact, my initial diagram opmitted the "Redirect to app" line (as you suggest here), but I decided to put it in dashed just for consistency with the current diagram.  I agree that it's better to leave it out.  I'll make that change and resubmit, along with the websequencediagrams.com<http://websequencediagrams.com> URL.

Thanks for checking this out so quickly.

-Dixie

Dixie

[2015-03-03 01:06] bakerdb commented on #13
![new_confidentialv2](https://cloud.githubusercontent.com/assets/10760477/6454452/7d8437da-c0fe-11e4-910d-2ba42b720171.png)

[2015-03-03 01:09] bakerdb commented on #13
I think the link to this modified page is http://www.websequencediagrams.com/?lz=bm90ZSBsZWZ0IG9mIEVIUl9BUzogRUhSIFVzZXIgaGFzIGxhdW5jaGVkIHRoZSBhcHAKAC4FcmlnaAAvBUFwcDogUmVxdWVzdCBhdXRob3JpemF0aW9uCkFwcC0-PgBNCCBSZWRpcmVjdCB0bwBhCSBBACsHZQBIDwCBAwhBdXRoZW50aWNhdGUgYW5kAFoJZSBBAHYWIE9uIGFwcHJvdmFsCgCBTAYtPj4AFQYAdwxhcHA6cgCBDAdfdXJsP2NvZGU9MTIzJi4uLgCBNgYAgTIJUE9TVCAvdG9rZW4AHgkAgRoXQ3JlYXRlIAAnBTp

[2015-03-03 01:37] jmandel commented on #13
Perfect. I've performed some quick updates at:

[Edit Link](http://www.websequencediagrams.com/?lz=bm90ZSBsZWZ0IG9mIEFwcDogVXNlciBoYXMgbGF1bmNoZWQgYXBwXG5mcm9tIGFuIEVIUlxub3Igc3RhbmRhbG9uZSBmbG93CgBEBXJpZ2gAQApSZXF1ZXN0IGF1dGhvcml6YXRpb24KQXBwLT4-RUhSIEF1dGggU2VydmVyOiAgUmVkaXJlY3QgdG8gABkFUzogAB4Fb3JpemUAUQ8ALhFBdXRoZW50aWNhdGUgYW5kAGwJZSBBcHAAgQoUIE9uIGFwcHJvdmFsCgCBAA8tPj4AHgYAgQkMYXBwOnIAgR4HX

[2015-03-13 20:33] bakerdb opened #14 "Separate Authz Server and Resource Server actors"
Refs:  RFC6749; RFC 681
Risk Assessment Row:  2

Threat:  Misinterpretation of OAuth 2.0 framework specification and threat model results in insecure implementation

Description:  Authorization profiles assign actions relating to issuance of access tokens and refresh tokens to "authorization server" and actions relating to use of access token to retrieve a resource as "resource server."

Recommend

[2015-03-13 21:34] jmandel commented on #14
Thanks @bakerdb! Can you confirm that [this document](https://docs.google.com/spreadsheets/d/1YdrQ3LLAxOxB5eJmTt1wnHjmSD6mVW6QUXbtl8_MF9c/edit) is the up-to-date risk assessment matrix that we're referring to?

[2015-03-13 21:48] bakerdb opened #15 "End-user authorization"
Ref:  RFC6749 (10.2)
Risk Assessment Row:  3
Description:  Current profiles indicate that asking the end user to authorize the client is "optional." No information is included regarding how the AS requests authorization from the end user, or what information is provided to the end user.
Recommendation:  Revise the first two paragraphs under "EHR [AS] Evaluates Authorization Request" to the followi

[2015-03-13 22:00] bakerdb commented on #14
Sorry!  I just finished cleaning up the risk assessment today -- removed all of the rows that did not contain a recommended change.  I just uploaded the revised doc to the Argonaut folder.  I tried putting it into the Risk Assessment folder, but for some reason I could not.  Feel free to move it.  The file name has today's date, so it'll be easy to see.  The refs in the Github recommendation corre

[2015-03-13 22:22] bakerdb opened #16 "Sequence Diagram"
Ref:  RFC6749; RFC6819
Risk Assessment Row:  2
Description:  Current profiles combine OAuth2 Authorization Server and Resource Server actors into one "EHR" actor, which creates ambiguity in interpretation.
Recommendation:  Replace sequence diagram in confidential client authorization profile to the following:
![new_confidentialv4](https://cloud.githubusercontent.com/assets/10760477/6648217/7707f18

[2015-03-16 17:07] bakerdb commented on #16
The link to edit is http://www.websequencediagrams.com/?lz=bm90ZSBsZWZ0IG9mIEFwcDogVXNlciBoYXMgbGF1bmNoZWQgYXBwXG5mcm9tIGFuIEVIUlxub3Igc3RhbmRhbG9uZSBmbG93CgBEBXJpZ2gAQApSZXF1ZXN0IGF1dGhvcml6YXRpb24KQXBwLT4-RUhSIEF1dGggU2VydmVyOiAgUmVkaXJlY3QgdG8gABkFUzogAB4Fb3JpemUAUQ8ALhEAIAkgQXBwXG4obWF5IGluY2x1ZGUgZW5kLXVzZXIAew4pAIEfFCBPbiBhcHByb3ZhbAoAgRUPLT4-AB4GAIEeDGFwcDpyAIEzB191cmw_Y29kZT0xMjMmLi4uAE0VR

[2015-03-16 21:31] jmandel commented on #13
I think this is superceded by #16. Please re-open if I'm wrong.

[2015-03-16 21:31] #13 closed

[2015-03-16 22:21] bakerdb commented on #13
You're right.  I thought about joining them, but #16 actually suggests a change to the profiles.  So decided to start anew.

-Dixie

Dixie B. Baker, Ph.D.
Senior Partner
Martin, Blanck and Associates
Office (Redondo Beach, CA):  310-791-9671
Mobile:  310-279-2579

On Mar 16, 2015, at 2:31 PM, Josh Mandel <notifications@github.com<mailto:notifications@github.com>> wrote:

I think this is superceded

[2015-03-17 21:00] whbath opened #18 "Coupling of authorisation service with session / launch context"
Hi there,
Just questioning if there is an alternative to the options around launch scopes / what the thinking is around coupling the authorisation service with launch context.

The approach for passing launch context (via authorisation server as part of issuing an access token) seems based on the premise that our system can modify the behaviour of the authorisation server. We are utilising a 3rd p

[2015-03-17 21:25] jmandel commented on #18
Hi Will,

Thanks for the question -- it's an important one for us to address. You're correct that we do couple our context-communication mechanism to the authorization process. And ideally it would be great if we didn't' need to. We'd be happy to consider alternatives, but let me provide some of the rationale for why we do things this way right now:

We want to allow apps to launch with context, a

[2015-03-18 22:58] jmandel commented on #16
@bakerdb I've started a new github branch to track changes to the docs. So far I've:

1. Streamlined the authorization specs so we have only a single page (covers both "confidential" and "public" client profiles, since they only differ in a couple of spots).

2. Updated the sequence diagram to the one you've listed here.

Live preview of the rendered docs:  [`argonaut-dev`](http://fhir-docs.smarth

[2015-03-18 23:21] jmandel opened #19 "Merge examples + details"
The current authz profile layout is confusing, with six steps of "Examples" followed by six very similar steps of "Details". These should be merged into a single stream of details with inline examples.

[2015-03-18 23:22] jmandel commented on #19
@bakerdb First pass streamline committed with https://github.com/smart-on-fhir/smart-on-fhir.github.io/commit/e4d9d65c2ec9de79a50ad0d3756cb785b90e1f5b

Changes visible at: http://fhir-docs.smarthealthit.org/argonaut-dev/authorization/

[2015-03-19 02:51] bakerdb commented on #16
Great, Josh!  Looks really good!

Should I continue to submit my issues against the "confidential authorization profile," or should I reference the sections in this revision?

-Dixie

Dixie B. Baker, Ph.D.
Senior Partner
Martin, Blanck and Associates
Office (Redondo Beach, CA):  310-791-9671
Mobile:  310-279-2579

On Mar 18, 2015, at 6:58 PM, Josh Mandel <notifications@github.com<mailto:notificati

[2015-03-19 03:24] jmandel commented on #16
Please go ahead and reference these, if it's not too much trouble. This
should give us a good base for the upcoming set of revisions

On Wed, Mar 18, 2015 at 7:51 PM, bakerdb <notifications@github.com> wrote:

[2015-03-19 10:05] bakerdb commented on #16
I agree.  And will give me a chance to become intimately familiar with the revised profile.

- Dixie

Dixie Baker
Office: 310-791-9671
Cell: 310-279-2579

On Mar 18, 2015, at 11:25 PM, Josh Mandel <notifications@github.com<mailto:notifications@github.com>> wrote:

Please go ahead and reference these, if it's not too much trouble. This
should give us a good base for the upcoming set of revisions

O

[2015-03-19 16:35] bakerdb opened #20 "(editorial) Missing question"
[New Profile]
Description:  The introductory paragraph ends with a colon.

Recommendation:  Add "Does the app have the capability to “keep a secret?”  after colon

[2015-03-19 16:37] jmandel commented on #20
Do you want to just go ahead and propose little edits like this as pull requests? You should be able to click the "edit this page" link from the sidebar of http://fhir-docs.smarthealthit.org/argonaut-dev/authorization/

[2015-03-19 18:58] bakerdb commented on #20
Yes, that would work great!

How about I submit all editorial changes this way and use the "issues" approach for changes tracable to the risk assessment?

- Dixie

Dixie Baker
Office: 310-791-9671
Cell: 310-279-2579

On Mar 19, 2015, at 9:38 AM, Josh Mandel <notifications@github.com<mailto:notifications@github.com>> wrote:

Do you want to just go ahead and propose little edits like this as pull re

[2015-03-19 19:07] jmandel commented on #20
@bakerdb You can just use the "edit this page" process for both kinds of changes. They'll both be captured as "pull requests", which appears in our issues list. Here's a fake example of a pull request that I created (and which I'll reject):

https://github.com/smart-on-fhir/smart-on-fhir.github.io/pull/21

[2015-03-19 19:36] bakerdb commented on #20
Sure!  Didn't realize that's what a "pull request" was!

-Dixie

Dixie B. Baker, Ph.D.
Senior Partner
Martin, Blanck and Associates
Office (Redondo Beach, CA):  310-791-9671
Mobile:  310-279-2579

On Mar 19, 2015, at 12:37 PM, Josh Mandel <notifications@github.com<mailto:notifications@github.com>> wrote:

Do you want to just go ahead and propose little edits like this as pull requests? You should

[2015-03-19 20:29] jmandel commented on #20
Great. I'll close this issue for now then. Feel free to re-open if you need!

[2015-03-19 20:29] #20 closed

[2015-03-19 20:30] jmandel commented on #16
Great. Closing this as finished.

[2015-03-19 20:30] #16 closed

[2015-03-23 18:15] bakerdb opened #29 "Authorization request signatures"
Ref:  OIDC (16.7)
Risk Assessment Row:  40

Description:  As a countermeasure for request repudiation, the OpenID Connect spec recommends having the client digitally sign requests using a key that supports non-repudiation, with the AS validating the signature.

Recommendation:  Considering adding request non-repudiation to the profile.

[2015-03-25 01:16] jmandel opened #33 "What does "recommended" mean for "aud" parameter of authz request?"
@bakerdb The current draft says:

![image](https://cloud.githubusercontent.com/assets/313089/6816524/ca80c936-d251-11e4-83e5-b5123686422d.png)

But it's unclear what this means. For which parties (apps or servers) is this "recommended"? I'd imagine some servers would *require* it, which means it's really not optional for apps. If we want to go this route, and offer this mitigation, then we need to

[2015-03-25 04:10] bakerdb commented on #33
Yes, i should be "required."  Can you make this change?

-Dixie

[2015-03-25 04:15] #33 closed

[2015-03-25 18:55] #19 closed

[2015-03-25 18:56] jmandel commented on #15
Merged changes in through PR #28

[2015-03-25 18:56] #15 closed

[2015-03-25 18:59] jmandel commented on #14
Addressed through PRs including #31

[2015-03-25 18:59] #14 closed

[2015-03-25 22:57] jmandel commented on #29
Just as an anchor point, this functionality is optional in the OpenID Spec, and I haven't seen it implemented among the major consumer-facing OIDC deployments. For example:

Google:
https://accounts.google.com/.well-known/openid-configuration

Microsoft:
https://login.windows.net/common/.well-known/openid-configuration

--> both lack the "request_parameter_supported" parameter, indicating they do

[2015-03-26 18:50] bakerdb commented on #29
This would only be applicable for confidential clients.  But I do think it's important -- even more so for use case 5, when requests will cross organizational boundaries, and the organization holding the FHIR resource will need to document the disclosure in a way that will hold up in court.  I know everyone hates optionality, but I think we would remiss if we didn't acknowledge the possibility and

[2015-03-26 19:00] jmandel commented on #29
I'd imagine this wouldn't apply at all to our [security use case 5](https://docs.google.com/document/d/1dFe79QvQryWMkCctL-Kzv0bxhOq-mNPfOjN5rd0JALQ/edit?usp=drive_web), because that use case involves the client generating its own assertion that it can trade for a token. In that use case, the client would never call the authz server's `/authorize` endpoint; it would just call the `/token` endpoint

[2015-03-30 23:08] bakerdb opened #36 "Update to sequence diagram"
The sequence diagram does not show the refresh_token included in the return from the Authorization Server, nor is the refresh_token exchange included.
Also, for confidential clients, authentication is required for both requesting authorization and for exchanging an access token for FHIR content.  In the attached sequence diagram, I have corrected these omissions.

Link to this diagram is http://ww

[2015-03-30 23:11] jmandel commented on #36
I don't disagree with any of these details, but... the more details we include in a diagram like this, the harder it becomes to see the big picture. We may be hitting the limit of how much we can reasonably show in a sequence diagram (e.g. HTTP headers are probably a bit much).

What would you think about having a set of sequence diagrams like:

 * Launch sequence
 * Authorization sequence
 * Refr

[2015-03-30 23:25] bakerdb commented on #36
I like this idea!  The launch sequence cries out for a diagram!  Perhaps make the 3rd one something like "Usage sequence" to include both exchange for FHIR resource and refresh.

And yes, it is a bit complex.  As for the HTTP headers, I was just trying to follow what you had done in the original diagram.  I agree that we can simplify.

-Dixie

Dixie B. Baker, Ph.D.
Senior Partner
Martin, Blanck an

[2015-04-03 17:35] bakerdb opened #37 "Launch Sequence Diagram"
I've taken a stab at creating a sequence diagram for the launch sequences.  In so doing, I've concluded that some of the detail currently in the "overview" section would fit more logically in the detailed description, but I can handle that later.  First, I wanted you to look over the diagram.

![launchseqv1](https://cloud.githubusercontent.com/assets/10760477/6985911/1f59afe8-d9ed-11e4-861a-5cd9a8

[2015-04-03 18:11] jmandel commented on #37
I like the general idea, but I'm having trouble following the actors ("EHR Session", "Browser", and "App" aren't really actors on equal footing). For example, in a standalone launch on mobile, it doesn't make sense to talk about a "Browser" performing a "launch app" action. There may simply be no browser involved in that context.

It might be easier to  leave "Browser" out of the actors list and t

[2015-04-03 20:25] bakerdb commented on #37
"Browser" is intended to simplify the "user agent" actor in OAuth2, which can be a browser, window, iframe, mobile device -- whatever launches the app.  Because the text says that in the EHR launch, the EHR "initiates a launch sequence by opening a new browser widget, window, or iframe," I thought we should show it.  Also, it provides a base from which to launch the standalone app.  Would "user ag

[2015-04-03 20:37] bakerdb commented on #37
Actually, when I looked at this graphic (below), it occurred to me that these should be two different sequences -- one with an "EHR Session" actor and one without -- because "EHR Session" is not an actor at all in the standalone sequence...

[cid:31C0B1E5-376C-4E77-BDC2-FC17F5164B1D]
Dixie B. Baker, Ph.D.
Senior Partner
Martin, Blanck and Associates
Office (Redondo Beach, CA):  310-791-9671
Mobile

[2015-04-03 21:45] bakerdb opened #38 "Authz Diagram"
Since this is a different diagram, I'm starting a new issue.  I started with your suggestion from Issue #37 regarding the Authorization sequence, cleaned it up (e.g., it had both "EHR" and "EHR Authz Server" as separate actors, though "EHR" is not an actor in this one), added explanatory notes, and also added id_token and refresh_token to the authz return.  Here's the result:

![authzseqv1](https:

[2015-04-03 22:39] bakerdb opened #39 "Retrieval & Refresh Diagram"
Here's a draft of a diagram showing use of access token to retrieve FHIR resource, and exchange of refresh token for new access token.

![resourceretrievalv1](https://cloud.githubusercontent.com/assets/10760477/6989969/a0f909ac-da17-11e4-98ad-dde597b87ee3.png)

Link:  http://www.websequencediagrams.com/?lz=bm90ZSByaWdodCBvZiBBcHA6IEFjY2VzcyBwYXRpZW50IGRhdGEgCkFwcC0-PkVIUiBGSElSIFNlcnZlcjogUmVkaXJl

[2015-04-04 00:09] jmandel commented on #37
I certainly agree with that point (two separate sequences would make the distinction clearer).

As for depicting the browser (aka "user agent"), I think we should consider *not* visualizing this as its own actor in the sequence diagram. e.g. see https://www.salesforce.com/us/developer/docs/api_rest/Content/intro_understanding_web_server_oauth_flow.htm (or http://docs.smarthealthit.org/authorizatio

[2015-04-04 00:45] jmandel commented on #38
This looks good. Quick comment:

In the first step it might help to give a hint of some of the parameters (e.g. `?client_id=something&...`). The back-reference to "See Launch Flow" might be confusing, because the launch flow actually refers to something before this step, rather than at this step.

[2015-04-09 23:05] bakerdb commented on #38
I made the suggested changes to the diagram, and inserted it into the profile as a pull requested.  So I think we can close this issue.

[2015-04-09 23:05] #38 closed

[2015-04-09 23:09] jmandel commented on #38
OK -- just to close the loop on this: which PR is this inserted into? You can say "#300" or whatever and that will create a link.

[2015-04-09 23:09] bakerdb commented on #37
Removed browser as separate actor.
Separated into two separate diagrams (EHR and Standalone), inserted into profile, and initiated a pull request.  So I am closing this issue.

[2015-04-09 23:09] #37 closed

[2015-04-09 23:10] jmandel commented on #37
Thanks @bakerdb  -- could you just list the PR number here (preceded by "#") to close the loop? I don't see it yet...

[2015-04-09 23:37] bakerdb commented on #39
I've inserted this diagram into patch-10, so I am closing this issue.

[2015-04-09 23:37] #39 closed

[2015-04-09 23:45] bakerdb commented on #37
I don't see the pull request numbers.  In fact, the pull-requests symbol on my page says "0."

-Dixie

Dixie B. Baker, Ph.D.
Senior Partner
Martin, Blanck and Associates
Office (Redondo Beach, CA):  310-791-9671
Mobile:  310-279-2579

On Apr 9, 2015, at 4:10 PM, Josh Mandel <notifications@github.com<mailto:notifications@github.com>> wrote:

Thanks @bakerdb<https://github.com/bakerdb> -- could you

[2015-04-09 23:55] jmandel commented on #37
Here are all the open PRs:
https://github.com/smart-on-fhir/smart-on-fhir.github.io/pulls?q=is%3Aopen+is%3Apr

Each has a number below its title (e.g the one I've screen-shotted below is 35):
![image](https://cloud.githubusercontent.com/assets/313089/7079415/e78a98de-ded8-11e4-8989-e62b2d3d75c2.png)

Is it possible you're looking for PRs on @bakerdb's fork (rather than on @smart-on-fhir's reposito

[2015-04-09 23:56] jmandel commented on #39
OK, that means PR #34 -- thanks!

[2015-04-10 00:13] bakerdb commented on #37
Yes, I see.

-Dixie

Dixie B. Baker, Ph.D.
Senior Partner
Martin, Blanck and Associates
Office (Redondo Beach, CA):  310-791-9671
Mobile:  310-279-2579

On Apr 9, 2015, at 4:55 PM, Josh Mandel <notifications@github.com<mailto:notifications@github.com>> wrote:

Here are all the open PRs:
https://github.com/smart-on-fhir/smart-on-fhir.github.io/pulls?q=is%3Aopen+is%3Apr

Each has a number below its

[2015-04-10 22:01] jmandel commented on #36
I believe this has now been addressed through #40 #41 #42 #43 -- closing.

[2015-04-10 22:01] #36 closed

[2015-04-14 16:55] whitehatguy opened #46 "Requesting offline access for an access token."
Currently, there doesn't seem to be a way for a client application to convey that it desires permanent access on behalf of a user versus short-lived access.  A given application may have both modes of operation, and a given EHR administrator may wish to restrict the "offline access" scenario without impeding the short-lived access use case.  Additionally, I don't think it is reasonable to configur

[2015-04-14 18:42] jmandel commented on #46
Can using take a look at how we're document the `offline_access` score at
http://docs.smarthealthit.org/authorization/confidential/ ?

(I'm guessing you may be looking at the Argonaut branch, which still needs
these details incorporated. Let me know if the language in the an overall
addresses your concerns.)

On Tue, Apr 14, 2015, 11:55 whitehatguy <notifications@github.com> wrote:

[2015-04-14 19:36] whitehatguy commented on #46
Josh -- thanks much, I was looking at the wrong branch. Do you feel the documentation should explicitly state that it is designed for scenarios where a client retains access after the user's session has been terminated/expired?

[2015-04-14 20:58] bakerdb commented on #46
I don't think it's "designed for" these scenarios.  It's "designed" to support a wide range of policies that a resource holder might want to enforce.  In some circumstances, the fact that the client retains access after the user's session has been terminated may not be viewed as a good thing.  This is one reason why the Argonaut profile includes refresh tokens.  If an app holds a bearer token, it'

[2015-04-14 21:19] whitehatguy commented on #46
@bakerdb  - Can you provide an explicit example of a policy a resource holder might want to enforce for a scope named "offline_access" other than where a client retains access after the user's session has been terminated/expired?

I'm cognizant of the fact that refresh tokens provide value in scenarios other than an offline usage scenario (specifically, they can be used as a mechanism to verify if

[2015-04-15 09:15] grahamegrieve commented on #18
I think that there are, but I very much doubt that using a COTS authorization server is a sustainable approach for serious use. But maybe for the development process it would help a lot?

[2015-04-16 03:43] whbath commented on #18
Sorry for the radio silence this is something I've been thinking about and discussing.

First up, great context I now understand what you want to achieve with this which is great. In response to your question after consideration I can't think of a more elegant way to achieve those objectives; if you want to authorise at that level then you'd need your authorisation service to be aware of context u

[2015-04-16 04:42] grahamegrieve commented on #18
firstly, implementing an oauth service is actually simple. It's the authentication that's hard and what would be appropriate to off-load to COTS. There's a discussion of this here : http://www.healthintersections.com.au/?p=2108 - e.g. authenticate the user using your COTS solution, but then ask them the API access questions yourself, based on what you can do in the API.

I would think that authori

[2015-04-20 13:42] jmandel commented on #46
@bakerdb I think apps do need a way to communicate when they *want* a long-term access token, at authorization time. OIDC does this with the `offline_access` claim. The name isn't perfect, but it is already part of that standard and others use it as a way of asking for refresh tokens (@jricher has made this point to us, too).

So @bakerdb: do you have an objection to our adding the `offline_access

[2015-04-20 22:00] bakerdb commented on #46
I agree that apps need a way to request long-term access, and the OIDC offline_access claim is well suited to this purpose.  However, to answer @whitehatguy's question, yes I do have a couple of policy recommendations because, as the OIDC spec notes, offline_access does pose greater privacy risk than access with the user present.  So first, I think we should strongly suggest (to AS implementers) t

[2015-04-20 22:20] jmandel commented on #46
Okay, that's a good start. It doesn't quite address the issue of how to
obtain a refresh token on a mobile device (since in our profiles that's
still a public client). Do you agree this is a requirement? And if so, do
you have thoughts about how we should approach this, given the constraints
you've outlined?

On Mon, Apr 20, 2015 at 3:00 PM, bakerdb <notifications@github.com> wrote:

[2015-04-20 22:21] whitehatguy commented on #46
- I'm in agreement that explicit consent should be obtained for offline access.
- I'm not in agreement that such offline access should be restricted to confidential clients.  Google allows native client applications to utilize refresh tokens until revoked by the user [1] (Google states "The client ID and client secret obtained from the Developers Console are embedded in the source code of your app

[2015-04-20 22:49] bakerdb commented on #46
Mobile apps can obtain refresh tokens if the AS decides to provide one along with the access token.  So I think its sufficient to give mobile apps the ability to request long lifetimes, and to allow the AS to decide whether to fulfill this request by sending a refresh token along with the access token.

Given the risk, I think it's prudent to restrict the ability to REQUEST refresh tokens, via off

[2015-04-20 23:09] jmandel commented on #46
@bakerdb

But this is exactly the question at hand: how does the mobile app communicate to the AS that it would like a refresh token? The goal is that an `offline_access` scope would convey this. Of course the AS's policy is still in play here: it can decide to ignore/deny this request and just issue an access token with no refresh token. Do you see this as a problem? It feels like a clean separat

[2015-04-20 23:33] bakerdb commented on #46
If a mobile app wants long-term access, it can request an expiry value of say 6 months.  The AS then might choose to issue it an access token and a refresh token instead.

I do agree that this is a policy issue, but this seems fairly important to me.  And I can think of no compelling requirement for a mobile app to have indefinite access to an EHR.  As I said earlier, most mobile apps also have we

[2015-04-20 23:57] jricher commented on #46
There's no way within OAuth for an app to specify the expiry that it wants for its tokens. It's entirely up to the auth server policy and the client can't even make a request here without extending the standard. On the other hand, the `offline_access` scope conveys this already. You want a mobile app to have continued access to the EHR because there's not the same kind of "session" information or

[2015-04-21 00:14] bakerdb commented on #46
Ah, I was (obviously) mis-thinking that expiry was one of the parameters an app could request.

@jmandel, I agree that we need to enable offline_access for both confidential and mobile clients, including the recommendation that end-user authorization be obtained.  I also think we should include in our advice to AS implementers that they need to provide an API through which users can withdraw their

[2015-04-21 13:52] jmandel commented on #46
@bakerdb Yes, I think this is the right treatment of `offline_access`. I'l create a PR for this to capture the change. When you say that

What's the use case here? If it's just to support *users*, then all we need to say is that AS implementers need to support a **UI** by which users can withdraw authorizations. No?

[2015-04-21 14:11] bakerdb commented on #46
An API will enable the app that requested offline_access to also provide a means for individuals to cancel this access.  This is important since many users won't have a clue where to find the UI.

- Dixie

Dixie Baker
Office: 310-791-9671
Cell: 310-279-2579

On Apr 21, 2015, at 6:52 AM, Josh Mandel <notifications@github.com<mailto:notifications@github.com>> wrote:

@bakerdb<https://github.com/bake

[2015-04-21 14:16] jmandel commented on #46
It could be useful in some cases, but asking apps to be responsible for canceling their own authorization is not a general-purpose solution (after all, the apps would all have to implement the functionality independently and correctly, and it requires meticulous self-policing). The natural place for this kind of functionality is within the patient "portal" (or whatever online place the patient aut

[2015-04-21 14:19] jricher commented on #46
There's no standardized way to manage a server's saved access grant decisions, which is more of a server policy decision about whether or not to prompt the user again. I know of a few implementations that have an API to manage that, but it's usually handled by a UI like Josh suggested. That way the server can be sure of user authentication and perform other checks.

There is the [Token Revocation]

[2015-04-21 14:39] bakerdb commented on #46
You'll recall that my preference is to limit offline_access to confidential apps -- as Google does.  This makes it easy for users to both authorize and cancel authorization thru the same portal.

References to what is "usually" done don't take into consideration that we're talking about access to personal health and medical information here.  I'm very uncomfortable with the idea that an Android ap

[2015-04-21 15:01] whitehatguy commented on #46
@bakerdb  -- the scope of offline_access only applies to Google's confidential apps because all grants issued to public (native) clients are issued as permanent-until-revoked (or abused).  Google treats all access requested by such clients as requests for offline access on behalf of the user.  This makes apps such as those that use your Google Drive for storage possible without having to sign in e

[2015-04-21 16:00] jmandel commented on #46
@bakerdb I thought when you wrote:

... that you'd support doing this with the `offline_access` scope. But then you said

So what alternative do you propose for mobile clients? (Dynamic registration of mobile apps with a different client_id per-device is certainly  possible; it's what the OIDF HEART group is doing. But it does add a number of moving parts and it would be important to justify this

[2015-04-23 08:32] wanghaisheng opened #47 "typo"
http://docs.smarthealthit.org/authorization/scopes-and-launch-context/
section User-level scopes ,the final rows

Manage all resources on behalf ot he authorizing user
user/*.read user/*.write
Note that the permission is broader than our goal: with this scope, an app can add not only blood pressures, but other observations as well.

why  blood pressures?

[2015-04-23 15:50] p2 commented on #47
Those are example goals. One example is that your app wants to be able to add blood pressure readings to the user's record. The solution is to use `patient/Observation.write`, **but** that allows to write _any_ observations, not only blood pressure observations.

Does this help?

[2015-04-23 16:34] jmandel commented on #47
(To say this directly: in FHIR, Observation is used to capture lab results, blood pressures, and other kinds of clinical data. So asking for `Observation.read` is a broad permission.)

Note that our current reference implementation only handles *very* broad permissions like `user/*.read`, `patient/*.read` -- not resource-level permissions.

[2015-04-23 16:34] wanghaisheng commented on #47
get that one.this section goes to illustrate how to use these user-level scope params instead of patient-level.here you state the goal is "Manage all resources on behalf ot he authorizing user(here is a typo too)",if "user/*.read user/*.write" means manage all resources ,how could any permission broader than this one?

[2015-04-23 16:36] jmandel commented on #47
Let me try that again:

1. Imagine an app *wants* to access only Blood Pressures
2. But it *asks for* (and receives) `Observation/*.read`

--> at this point, the app has broader permissions than it really needed. For example, it can access lab result observations in addition to blood pressures.

[2015-04-23 16:40] wanghaisheng commented on #47
totally agree and understand this .though Observation is a resource type but it is a highly abstract one.many concept like blood type or vital sign could be represented by observation.your implement could not distinguish these subtle difference.

[2015-04-23 16:40] jmandel commented on #47
Also, fixed that "ot" typo, thanks. https://github.com/smart-on-fhir/smart-on-fhir.github.io/commit/7665b87255b306aa719b5741ae80e5e644955f1d

[2015-04-23 19:44] #47 closed

[2015-04-24 15:05] wanghaisheng opened #50 "localization"
I am going to tranlate your SMART  doc and localize some sdk ,is this ok?

[2015-04-24 15:11] jmandel commented on #50
Yes. Please be aware that it's a work in progress and there will likely be
breaking changes over time, but the specs are available for you to use and
translate!

On Fri, Apr 24, 2015, 08:10 wanghaisheng <notifications@github.com> wrote:

[2015-04-24 15:34] wanghaisheng commented on #50
I might ask a  stupid question here. any thoughs about HIPAA in smart and related sdk

[2015-04-24 15:44] jmandel commented on #50
Well, these APIs are certainly meant to be usable in the context of HIPAA
covered entities, for clinician and patient applications. But we don't have
any HIPAA specific functionality per se.

On Fri, Apr 24, 2015, 08:34 wanghaisheng <notifications@github.com> wrote:

[2015-05-09 15:16] kpshek opened #55 "Prefix OAuth 2 parameters"
Currently, the SMART specification defines scopes like `patient/*.read` and `launch`. In the current Argonaut branch, it is mentioned that scopes may need to be represented as URIs and defines a URI pattern to follow.

Per [rfc6749](http://tools.ietf.org/html/rfc6749):

For consistency, and to ensure SMART's scopes do not conflict with other scopes the authorization server may be handling, all SMA

[2015-05-10 17:40] jmandel commented on #55
Thanks for bringing this up @kpshek ! On the subject of scopes, I think the risk that a scope like `patient/Patient.read` is going to conflict coincidentally with a non-SMART scope is low. But I don't object to this change (even while I do cringe at the verbosity it introduces to our scope strings).

As for parameters in our access token response: one possibility is to "hide" them all behind a com

[2015-05-10 17:46] kpshek commented on #55
:+1: - I like how your parameter proposal both minimizes the verbosity as well as ensures uniqueness.

[2015-05-12 03:20] #50 closed

[2015-05-12 09:23] daliboz commented on #55
I tested this a bit with the java nimbus library because I was concerned about how some of the libraries handle this, but it seems ok for both the server and client side. It just means that some entries in a map are themselves maps (and I assume this would also be true in a client js library).

I like grouping them together.

[2015-05-12 17:42] whitehatguy commented on #55
@jmandel's proposal for access token responses seems optimal and avoids the possibility of any name collisions in current or future attributes that might be chosen by the specification.

Kevin's other comment was regarding whether to namespace scopes to avoid collisions.  While I think the majority of values as defined are sufficiently unambiguous, there's the question of whether collisions with o

[2015-05-14 18:18] kpshek commented on #55
So as I've been applying these changes to the SMART documentation and examining the concrete implications of this change, here is what an application launch URL would now be:

[code]

Internet Explorer (10 and earlier), _our favorite browser_, [allows for a maximum of 2083 characters in a URL](https://support.microsoft.com/en-us/kb/208427). For the curious, [here are details behind this limitation

[2015-05-14 18:27] jmandel commented on #55
Thanks for this attention to detail!

A couple of  clear points: we don't prefix the OIDC scopes with anything: they're defined in the OIDC standard. And I wouldn't try to abbreviate FHIR resource names.

It's also worth noting that this approach won't address Grahame's original request for scopes that are URIs.

But IE10 compatibility does matter, clearly. Do you know what limitations IE11+ impos

[2015-05-14 18:32] kpshek commented on #55
I have not verified this (I don't run Windows) and I don't know how authoritative this is, but [this StackOverflow comment](http://stackoverflow.com/questions/417142/what-is-the-maximum-length-of-a-url-in-different-browsers#comment48135535_417184) mentions IE11 handling URLs with "~3600" characters.

[2015-05-14 19:14] whitehatguy commented on #55
If I may suggest a compromise to try and satisfy all audiences:

- urn:fhir:{scope}
- urn:smart:{scope}

These aren't currently reserved with the IANA, are only slightly larger (4 characters), and would create compliant absolute URIs.  They just aren't URLs.

[2015-05-15 08:40] jmandel commented on #55
After talking with Grahame he's not actually that concerned with having URIs and would be happy enough just to have SMART use bare scopes. So the key issue is uniqueness.

One other point is that we don't have any natural "smart" vs "fhir" scope distinction, which this proposal has introduced,  and it seems to complicate the picture a bit.

Is it a step backwards to just suggest taking our existin

[2015-05-15 08:42] grahamegrieve commented on #55
Right. having URIs would be 'nice', but there's no way that it's justified
if we have space constraints

On Fri, May 15, 2015 at 6:40 PM, Josh Mandel <notifications@github.com>
wrote:

--
-----
http://www.healthintersections.com.au / grahame@healthintersections.com.au
/ +61 411 867 065

[2015-05-19 21:34] PBernhardt opened #59 "Update Authorization example to include "aud" parameter"
The authorization guidance here: http://fhir-docs.smarthealthit.org/argonaut-dev/authorization/

Includes an image with an example of the request made to the authorization url. This image should be replaced with one that includes the required "aud" parameter.

[2015-05-19 22:05] jmandel commented on #59
We do write "..." to indicate that there are more parameters than we can show in the sequence diagram -- but if it would be helpful to add this one, we can!

[2015-05-19 22:54] PBernhardt commented on #59
Yeah, not a showstopper by any means, but only mentioned because it's a required input. It was clear enough to me what was needed after reading the documentation carefully.

[2015-05-22 20:43] jmandel commented on #59
Fair enough -- addressed in https://github.com/smart-on-fhir/smart-on-fhir.github.io/commit/ca956f3d7b5c659cc4da86ab2838739a37677049

[2015-05-22 20:43] #59 closed

[2015-06-15 14:13] whitehatguy opened #62 "Steps for using an ID Token is insufficient"
If the OpenID Connect protocol is legitimately being used for authentication, the steps currently listed for validating an ID token should instead refer individuals to section 3.1.3.7 of the OpenID specification for validation steps.  There are certain key elements, such as validating the audience that are necessary.

In addition, step 6 of section 3.1.3.7 states:

"If the ID Token is received via

[2015-06-15 15:45] jmandel commented on #62
HI Matt,

Thanks for these comments!

High-level picture: our intention in using OIDC certainly is to provide
end-user authentication to client apps. I often refer to this by saying
that SMART needs to offer "single-sign-on" capabilities. The core Argonaut
use cases include standalone clinician- and consumer-facing apps, where the
end-user can sign in using her existing EHR-provided identity (e.g.

[2015-06-15 17:10] whitehatguy commented on #62
Josh,

Thanks for the clarification.  Up until this point, I had assumed the inclusion (of OIDC) was only for a standards-based approach to conveying certain attribute claims, such as the URL of the user's FHIR endpoint.  Are the authentication use cases to be considered in a future set of use cases for the Argonaut security group?  The majority of our client organizations utilizing our patient po

[2015-06-15 17:39] jmandel commented on #62
I think it would be a good topic for discussion in Argonaut, certainly! (I
don't think these are explicitly on the agenda today.) I'm definitely
interested in hearing your thoughts around sign-out (so far we've gotten by
simply saying that apps manage sign-out independent of the EHR -- except of
course if an app requests an "online_access" scope, in which case their
refresh tokens will stop workin

[2015-07-27 01:51] dsoprea opened #65 "Invalid link/page for new apps"
The page at [Sandbox - Account Setup](http://docs.smarthealthit.org/sandbox/account) has a link ("register new apps") that is no longer valid:

*You can register a new account for our public sandbox or manage your existing account by visiting our [account self-service](https://service.smarthealthit.org) tool. Once you have an account in our system, you will be able to use our authorization service

[2015-07-27 12:51] jmandel commented on #65
Thanks -- fixed with https://github.com/smart-on-fhir/smart-on-fhir.github.io/commit/a72e5229330ab4a64ccafa05564cb38c24599005!

[2015-07-27 12:51] #65 closed

[2015-08-14 00:14] whitehatguy opened #70 "Definition of "EHR" needs clarification"
In the [specification](https://github.com/smart-on-fhir/smart-on-fhir.github.io/blob/argonaut-dev/specification/index.md) draft, the following definition is made for "electronic health record":

@bakerdb  provided the following feedback:

It was further indicated that the Argonaut use case documentation provides the following definition:

Existing developer documentation [2](http://fhir-docs.smart

[2015-08-14 00:18] jmandel commented on #70
Personally I don't see any problem with the description you provided and quoted below, @whitehatguy. I found it consistent with the Argonaut profiles and explicit about the fact that an EHR "has-a"  resource server and also "has-a" authorization server (as two separate components).

[2015-08-14 20:44] jmandel opened #71 "Re-authorizing after launch"
In-context at: http://fhir-docs.smarthealthit.org/argonaut-dev/specification/#q-issue-71

[2015-08-14 20:45] jmandel opened #72 "Versioning of SMART spec"
In-context at: http://fhir-docs.smarthealthit.org/argonaut-dev/specification/#q-issue-72

[2015-08-14 20:46] jmandel opened #73 "Question: scopes for whole-system interaction"
In-context at: http://fhir-docs.smarthealthit.org/argonaut-dev/specification/#q-issue-73

[2015-08-14 20:47] jmandel opened #74 "When/why is a "launch" scope needed?"
In-context at: http://fhir-docs.smarthealthit.org/argonaut-dev/specification/#q-issue-74

[2015-08-14 20:48] jmandel opened #75 "Should styling/ux context be defined separately?"
In-context at: http://fhir-docs.smarthealthit.org/argonaut-dev/specification/#q-issue-75

[2015-08-14 20:49] jmandel opened #76 "Do EHRs need to be OIDC Identity Providers?"
In-context at: http://fhir-docs.smarthealthit.org/argonaut-dev/specification/#q-issue-76

[2015-08-14 20:50] jmandel opened #77 "Should patient- and provider-facing services use different FHIR base URLs?"
In-context at: http://fhir-docs.smarthealthit.org/argonaut-dev/specification/#q-issue-77

[2015-08-14 20:51] jmandel opened #78 "Can an EHR's "issuer" and "subject" values change over time?"
In-context at: http://fhir-docs.smarthealthit.org/argonaut-dev/specification/#q-issue-78

[2015-08-14 20:52] jmandel opened #79 "When should client authentication be required?"
In-context at: http://fhir-docs.smarthealthit.org/argonaut-dev/specification/#q-issue-79

[2015-08-14 20:53] jmandel opened #80 "What http "schemes" may a redirect_uri use?"
In-context at: http://fhir-docs.smarthealthit.org/argonaut-dev/specification/#q-issue-80

[2015-08-14 20:53] jmandel opened #81 "JWT client auth instead of HTTP basic?"
In-context at: http://fhir-docs.smarthealthit.org/argonaut-dev/specification/#q-issue-81

[2015-08-14 20:55] jmandel opened #82 "Communicating error conditions with error_uri"
In-context at: http://fhir-docs.smarthealthit.org/argonaut-dev/specification/#q-issue-82

[2015-08-14 20:56] jmandel opened #83 "API for revoking credentials?"
In-context at: http://fhir-docs.smarthealthit.org/argonaut-dev/specification/#q-issue-83

[2015-08-15 07:50] kpshek commented on #77
This is an interesting question and something I had not considered. Do you have any examples of conformance property differences between patients and providers?

[2015-08-15 08:02] kpshek commented on #74
To me, this boils down to whether the launch scope is intended to (as the name strongly implies), determine whether the SMART app _can_ launch OR if the launch scope is intended to share patient, encounter, and location context once the SMART app has been authorized to launch.

If the launch scope is just to communicate context, then I can see value in a SMART app that operates cross-patient or pe

[2015-08-15 08:26] kpshek commented on #75
I don't see the intent parameter changing in the future. As it is now, this is an inherently vendor specific attribute and it's inclusion in the specification serves to standardize on the namely of the parameter only. So, I think leaving this in the core specification is fine. Out of curiosity, what are the use(s) of this today that prompted it's inclusion in SMART?

I do think the smart_style_url

[2015-08-15 08:32] kpshek commented on #80
What are some examples of the additional requirements a custom redirect scheme will impart on the authorization server, @whitehatguy?

Is it things outlined in this [OAuth 2.0 for Native Apps draft specification](http://tools.ietf.org/id/draft-wdenniss-oauth-native-apps-00.html#namespace-considerations)?

[2015-08-15 18:55] kpshek commented on #77
Nevermind. In an offline conversation with @daliboz, she reminded me of all of the reasons that I should known. :smile:

- The authorization server may differ in how it authenticates patients vs providers thereby requiring a different authorization server URL
- The FHIR resources offered may be different for patients vs providers. For instance, a FHIR server may offer writes of MedicationPrescript

[2015-08-17 14:39] whitehatguy commented on #80
When a native re-direct occurs from a web application to a native application, you're generally left with a browser window/tab.  Additionally, there's no guarantee in many cases that the scheme handler is registered on the target device -- in these situations, the authorization server would need to have a page that describes to the user what is happening, and the remediation steps if the native ap

[2015-08-17 14:47] jmandel commented on #80
Our intention is to allow `https` redirect URLs as well as custom schemes that work on native devices. I think custom schemes are important because they enable an app architecture that runs entirely on-device with no web-based component involved at runtime.

Agreed that the Authorization Server can and should help to orient the user at launch time.

[2015-08-17 15:17] whitehatguy commented on #80
@kpshek  The [native app spec][1] discusses at a high level how such integration works and makes recommendations, but doesn't prescribe usability considerations.  I did find it interesting they prescribe
[PKCE][2] for such public clients -- I'm going to read that draft and see what kind of use cases it might apply to, and if they overlap ours.

[1]: https://tools.ietf.org/html/draft-wdenniss-oauth

[2015-08-17 15:21] jmandel commented on #80
My understanding (please correct my if I'm wrong) is that PKCE is designed
to mitigate a threat where a malicious app has been installed alongside a
legitimate app on a mobile device. We need to decide where this fits in our
threat model. (Up this point, I've believed that if we have malicious apps
running on the end-user's device, we've got bigger problems -- but perhaps
this is too narrow-minded

[2015-08-17 15:45] whitehatguy commented on #80
I read the spec - it seems useful for the specific attack prescribed.  Half of it would have not been required if they had simply made the "state" parameter in the original OAuth2 spec functionally equivalent to the "plain" mechanism.

Assuming that the majority of access is via "launch" from within the health record, this doesn't provide much in the way of threat protection.  If the user is going

[2015-08-17 17:46] bakerdb commented on #75
I think it depends upon what we intend this specification to become.  If we see this as ultimately becoming an HL7 specification for authorizing app access to EHR data, then I think we should disassociate it from "SMART on FHIR," and create an abbreviated SMART on FHIR implementation guide that points to this more formal specification.  In such case, I suggest including the style guidance in the S

[2015-08-17 17:49] bakerdb commented on #72
Yes.

[2015-08-17 17:51] jmandel commented on #75
I don't disagree with the notion of separating out some bits of launch
context (like styling hints). But I would hope that HL7 is interested in
standardizing the whole package as a working solution -- so I think the
conclusion here is okay but I don't quite agree with the analysis.

On Mon, Aug 17, 2015 at 1:46 PM, bakerdb <notifications@github.com> wrote:

[2015-08-17 17:56] jmandel commented on #83
@whitehatguy I assume you've reviewed the OAuth dynamic client registration specification -- the [recommendation there](https://tools.ietf.org/html/rfc7591#section-2) is to have clients register a `jwks_uri` rather than a `jwks` directly -- which provides a reference to a key that can be rotated by the client at will. Thoughts about this approach?

(Note that an earlier version of dyn reg containe

[2015-08-17 17:59] jmandel commented on #82
I agree with this analysis and support use of `error_uri` as described. To be clear, this means that, on certain kinds of errors, the authorization server redirects to an app's `redirect_uri` and provides a few fields of free-text and structured data explaining what happened. One of these fields is an `error_uri` where users can go to learn more about what went wrong.

Note that some errors (e.g.

[2015-08-17 18:01] jmandel commented on #81
I'm supportive of this change; it avoid relying on shared secrets for authentication, and aligns better with the [OIDC HEART workgroup](http://openid.net/wg/heart/)

[2015-08-17 18:07] jmandel commented on #80
From the client perspective, trying to participate in PKCE when the server doesn't support it is no big deal: you wind up passing a couple of extra parameters (to the authorize and the token endpoints) that get ignored. But from a server perspective, if a server requires PKCE this will break with clients that don't support it. So I'm hesitant to call it "passive" in this regard unless we're very c

[2015-08-17 18:12] bakerdb opened #85 "Use of "default browser""
Re 2.1.2:  "SMART applications that are written natively for a platform SHOULD utilize the operating system's default browser when performing the authorization request such that the authorization server may comply with any security controls that have been imparted upon it. Such controls may include:

Support for single sign-on.
Support for anti-phishing controls implemented via persistent browser

[2015-08-17 18:22] jmandel commented on #71
This is an area that needs further treatment. I would suggest the following behavior:

1. When using a refresh token a client can omit `scope` (as described in the [OAuth 2.0 spec, section 6](https://tools.ietf.org/html/rfc6749#section-6)) to ask for the same scopes as it got with the original access token.

2. When this occurs, the app gets a new access token with exactly the same permissions at

[2015-08-17 18:25] jmandel commented on #72
Yes. We should attempt to use [semantic versioning](http://semver.org/) from the perspective of a client.  So bugfixes increment a patch version; new features increment the minor version; and breaking changes increment the major version. Then a server supporting `X.Y.Z` should be compatible with any app supporting `X.y.*` where `y` <= `Y`.

Thoughts?

[2015-08-17 18:27] jmandel commented on #73
I see we haven't documented it in, but my intention was to support `system/` scopes in addition to `user/` scopes, and `patient/` scopes. These would be values like `system/Patient.read` allowing an app to read/search all patient records in "the system".

[2015-08-17 18:32] jmandel commented on #74
@kpshek has it right: this scope was designed to mean "can the EHR share the launch context with the app". Of course there are some cases where, if the answer was "no", then the whole launch kind of fizzles out: namely, any time the app is asking for a `patient/` scope -- because without the `launch` scope, the app would have access to just one patient record but wouldn't know *which* patient reco

[2015-08-17 18:34] jmandel commented on #76
I agree this asks a lot of EHRs. Specifically, it asks EHRs to act as OIDC Identity Providers. But I don't know any way around this if we want to give apps a consistent way to launch, with awareness of end user identity. So I think the use case is very strong.

Do you see an alternative, @whitehatguy? Are you imagining simply removing this requirement, or somehow stripping it down by subsetting OI

[2015-08-17 18:35] jmandel commented on #77
In practice, some systems will absolutely want to provide different endpoints for these reasons; other systems may not. I would point out the possibility and describe the use cases, but I wouldn't outright *recommend* one approach over another.

[2015-08-17 18:37] jmandel commented on #78
@whitehatguy when you say "where a website needs to change its issuer", do you mean when an EHR needs to change its issuer? I take this as an identity management problem that we shouldn't try to solve in-band with this specification.

When it comes to `subject` values, I think we should indeed recommend against incorporating any identifying information in these values.

[2015-08-17 18:40] jmandel commented on #79
I see compromised refresh tokens as one important threat that client authentication helps mitigate. But using client authentication whenever possible is also just part of a good "defense in depth" strategy -- e.g. it can prevent an attacker from fraudulently obtaining access tokens in a situation where a server's SSL certificates are compromised.

[2015-08-17 18:47] jmandel commented on #85
I think the language can be cleaned up, but makes an important point, @bakerdb  -- namely, that it's inappropriate for apps to redirect to the authorization server via **in-app** browser widgets. This is a common practice that (to my mind) undermines the whole point of OAuth (namely: to avoid asking users to share their AS credentials with each app they want to use).

[2015-08-17 18:55] jricher commented on #83
The "maintenance API" is now RFC7592 https://tools.ietf.org/html/rfc7592

[2015-08-18 14:22] whitehatguy commented on #85
@jmandel - Since you pointed out the [OAuth 2.0 for Native Apps Draft][1], I was considering updating the wording to point to the details/explanation in section 6.1 of that specification.  Does that seem reasonable?

[1]: https://tools.ietf.org/html/draft-wdenniss-oauth-native-apps-00

[2015-08-18 14:27] whitehatguy commented on #83
@jmandel Correct - I was proposing the registration of a jwks_uri.  We've been up and running with a jwks_uri for one of our services now for several weeks that auto-rotates its own keys, and we've found it to be very elegant.

[2015-08-18 14:29] whitehatguy commented on #82
I'm considering posting on the Google Group to point people to this for additional feedback before closing this particular issue.  I probably do no need to clarify it is only returned in only those cases where it is allowed to return errors as specified in the OAuth 2.0 framework.

[2015-08-18 14:30] whitehatguy commented on #81
Should we get a poll from early implementers?

[2015-08-18 14:32] whitehatguy commented on #80
I missed the part where backwards compatibility was optional -- I'm definitely in agreement that servers need to operate with backwards compatibility mode.

I'm in agreement with your last sentiment -- I'll add a blurb in the security considerations to this effect.

[2015-08-18 14:41] whitehatguy commented on #79
@jmandel -- I'm partially in agreement with your statement; we could add such a sentiment, but I wanted to ensure that we call out the scenarios where it is a hard requirement.  Here's an example scenario where a system could protect a client secret, but doing so doesn't protect against the threat you mentioned:

1.  Web application protects a client secret.
2.  Web application functions by pushin

[2015-08-18 17:27] jmandel commented on #79
Of course your analysis of the scenario you provided here is correct. But I
wasn't trying to claim that client authentication was a universal panacea
against ssl certificate compromise -- just that in some scenarios it helps
(e.g. when a client keeps its authentication tokens on a secure Web
server).

Another threat that client authentication protects against is the scenario
where a client develop

[2015-08-18 17:28] jmandel commented on #81
Yes. Will probably be a better question after the next Argonaut sprint when
we ask participants to actually implement OAuth 2 for the first time. But
no harm raising the issue early!

On Tue, Aug 18, 2015, 10:30 Matt Randall <notifications@github.com> wrote:

[2015-08-18 17:59] whitehatguy commented on #78
I was primarily concerned around what guarantees (if any) a solution is provided for the OpenID Connect assertion.  If the information is purely for aesthetics / context (display of the authenticated user's name) and/or for creating human-readable audit trails, then this was a non-concern.

If a client application wants an identifier it can use for making its own authorization decisions (e.g. acce

[2015-08-18 18:04] jmandel commented on #78
So yes, in short we do want apps to use OpenID as a single-sign-on
solution, which can potentially be used for app-internal authorization
decisions as you've described. This is obviously a deep problem (and
borders on philosophy when you get into edge cases); beyond the core OIDC
language that you've quoted, I'm not sure what more we can/should say.
Happy to have suggestions here, but my current t

[2015-08-18 18:06] whitehatguy commented on #79
I think to summarize where we're in agreement:

- The specification __recommends__ using client authentication wherever it is practically possible.

...and where I'm not certain if we're in agreement on hard requirement versus recommendation:

- The specification __requires__ that client applications storing refresh tokens in a central location utilize client authentication.

[2015-08-18 18:13] jmandel commented on #79
Well, "wherever it is practically possible" is a bit ambiguous. For
example, is it "practically possible" for an in-browser app to have a
(non-secret) client secret and thereby "use authentication"?

On Tue, Aug 18, 2015 at 2:06 PM, Matt Randall <notifications@github.com>
wrote:

[2015-08-18 18:57] whitehatguy commented on #79
Agreed on that point -- for what its worth, I hadn't intended on patching with that specific wording.

If the app is exposed as a static resource on a private (authenticated) network, and the secret inside the static content is rotated frequently (perhaps generated by a script daily), that might be both practically possible and have desirable security characteristics.  Perhaps the best solution wo

[2015-08-18 19:13] jmandel commented on #83
Cool! And on  the relying side (i.e. in your AS) you just respect the http  cache times that the jwks resource returns to know when to re-fetch?

Of course this jwks_uri approach does break down if we ever want  to allow non-web apps (with no web server) to authenticate. For example, a native app that  registers separately for every individual device on which it runs...

[2015-08-18 19:23] whitehatguy commented on #83
With respect to the cache times - you're spot on (using HTTP caching semantics -- expires, etag, etc.).

I see the native app registration as having a completely different threat model -- it would be justifiable if it used a different authentication model.  I'd love to have a round-table discussion on per-app registration -- I see different possible use cases for both patients and providers where

[2015-08-18 19:45] jricher commented on #83
Native apps are one of the reasons that jwk-by-value was added to the spec. You can securely generate a keypair on the device and register it with the server.

[2015-08-18 20:22] whitehatguy commented on #78
So is it agreed there is a reasonable expectation that client applications should allow the authorization server to change the value of its issuer (and/or one or more principals)? If so, it should be called out (also indicating that the means of how such changes are communicated are outside the scope of the actual technical specification.)

[2015-08-18 22:32] whitehatguy commented on #76
Let's start with this question:

"Will client applications protect their own resources outside of those protected by the authorization server __and__ desire to utilize the EHR as a means for authenticating users?"

If the answer is __"YES"__, then we need to ask the following question:

"Will it be required that all EHRs support this feature (to allow client applications to protect their own resou

[2015-08-18 22:35] whitehatguy commented on #77
Sounds good, I'll update as such.

[2015-08-18 22:37] jmandel commented on #76
From the SMART perspective, the answer is YES to both. We aim to provide a
solid foundation for building diverse apps.

On Tue, Aug 18, 2015, 18:32 Matt Randall <notifications@github.com> wrote:

[2015-08-18 23:09] whitehatguy commented on #76
As a follow up question, do the required elements of the OIDC core specification support all of the anticipated use cases?  I think at a minimum some portions of the discovery protocol get pulled in where the issuer value is different than the token endpoint URL.  Are the use cases documented somewhere at the moment (for instance, are EHRs intended to issue public identifiers to individuals for se

[2015-08-18 23:16] whitehatguy commented on #75
I'll plan on assembling a second document then with the styling components, unless there's other objections then.

[2015-08-18 23:24] whitehatguy commented on #74
Okay, in keeping the scope as an explicit requirement, which is the desired behavior when a _launch_ parameter is included without including the _launch_ scope?:

- An error is immediately returned to the client application.
- The request is fulfilled.  The access token response does not contain the launch information, and the list of authorized scopes omits the launch scope.
- The request is fulf

[2015-08-18 23:32] whitehatguy commented on #73
I was actually inquiring as to the whole system interaction as defined by FHIR [1], such as searching across all resources (perhaps that would be different than being able to read all resources?).  I wasn't sure about the transaction interaction either... would that be a reserved right such that only certain client applications could start transactions on the server?

[1]: http://www.hl7.org/imple

[2015-08-18 23:44] jmandel commented on #73
We never draw a direct correspondence (I think) between scopes and FHIR
interactions. But FHIR's instance level "read" and type level "search" are
both enabled with SMART ".read" scopes. System level read interactions like
history or search should, I suppose, also be enabled by ".read" scopes, but
they would only reveal individual resources that the supplied access token
is authorized to see. Just

[2015-08-19 13:24] jmandel commented on #85
I think it's a great document. One concern is that the draft says "Both the client and the Authorization Server MUST support PKCE [PKCE] to use custom URI schemes" -- whereas according to our analysis in #80 we intended to make a recommendation rather than impose a requirement.

[2015-08-19 13:59] jmandel commented on #76
We haven't formally documented use cases, but @gimbalgambit can help describe some of the SureScripts use cases (where, for example, they want to know that the user who launches an app is a known SureScripts provider)

It's certainly the case that portions of the OIDC discovery protocol are invoked — for example, to validate the signature on an `id_token` JWT, a client must determine the issuer's

[2015-08-19 14:13] jmandel commented on #82
Sounds like a good idea to me!

[2015-08-19 14:13] bakerdb commented on #76
Use cases for the Argonaut Project are http://argonautwiki.hl7.org/images/e/ec/Argonaut_UseCasesV1-1.pdf

Phase 1 addressed use cases #1 through #4; phase 2 is focusing on #5.

[2015-08-19 14:16] jmandel commented on #76
But none of these use cases (1-4) gets into the details of why/how the user's identity is communicated to the app. Matt's asking about the use case for OIDC (essentially, why do we need single sign-on).

[2015-08-25 20:54] gimbalgambit commented on #76
Surescripts has a need to identify/authenticate the end user for a few reasons, including protecting our own resources as @whitehatguy spelled out. Auditing of end-user access and roles management is also part of why the OIDC support by the EHR is pretty important to our SMART apps.  There are specific identifiers (like the Surescripts Provider Identifier, SPI) that we assign in our management inf

[2015-08-27 18:34] bakerdb commented on #85
@jmandel @whitehatguy - I think 6.1 in [OAuth 2.0 for Native Apps Draft] (https://tools.ietf.org/html/draft-wdenniss-oauth-native-apps-00) does a good job of explaining the risks.  I'm going to submit a PR to revise the wording and incorporate a reference to this section.

[2015-08-27 18:44] jmandel commented on #85
Dixie has proposed language in #87 to address this; I'll apply it and close the issue. Feel free to re-open if anything looks amiss!

[2015-08-27 18:44] #85 closed

[2015-08-27 19:40] bakerdb commented on #78
This is a great question.  In most cases, clients are likely to use local user IDs for their own decision-making, since users tend to have multiple IDs across settings and apps.  But if the client is relying on an OID provider to authenticate the identity associated with that ID, it needs to be able to trust the issuer (which would seem to require that the issuer be unrecognizable).  Most likely t

[2015-08-27 22:10] bakerdb commented on #83
We have stated that client registration is outside the scope of the Argonaut authorization API.
The use case states as a pre-condition that clients have been "pre-approved" and registered.  How either of these is accomplished is outside our scope.

[2015-08-28 21:32] bakerdb commented on #79
Our current authorization profile requires confidential clients to authenticate themselves when exchanging an authorization code for an access token, and when presenting a refresh token for a new access token.  It does not require that public clients present any kind of authentication credential.

But I agree that whether a client presents a credential to the AS shouldn’t be based on whether the c

[2015-08-28 21:36] bakerdb commented on #82
I support use of error_uri as described.

[2015-08-28 21:40] bakerdb commented on #81
I support this approach.  However, we have stated that client registration is outside the scope of this specification.  The only thing we've said about registration is the the client has been pre-approved by the institution and registered with the AS.

[2015-08-28 21:42] bakerdb commented on #80
We have stated that client registration is outside the scope of our specification.  Our use cases simply state that the client has been pre-approved by the institution and registered with the AS.  I suggest removing the Registration section from this specification.

[2015-08-28 21:46] bakerdb commented on #77
Great idea!

Also has relevance to the question regarding when should clients be required to present credentials  (#79), as the policy might be based on which URL the client comes in through.

[2015-08-28 21:56] bakerdb commented on #76
The Argonaut Use Case document defines "EHR" very broadly --  "We use 'EHR' in a broad context inclusive of any system that holds and controls individually identifiable health information.  Each EHR system has the capability to mediate app requests for access and to authorize access to FHIR resources."

Our intent was to include "EHR"s that may hold health data collected by a fitness center or per

[2015-08-28 23:18] bakerdb commented on #74
I would opt for #1 -- error, with an explanation.

#2 is likely to produce confusion and possibly a useless token.
#3 would enable the app to query for the launch information, so would be my 2nd choice.

[2015-08-28 23:24] bakerdb commented on #73
What access rights are allowed for specific clients and users would be based on institutional policy, with the associated rules enforced by the AS.

[2015-08-28 23:29] bakerdb commented on #71
I agree with this approach.

[2015-08-28 23:42] bakerdb commented on #70
I don't consider "the EHR" an "actor" in this ecosystem.  The "actors" are the client, the authorization server, and the FHIR server.  A single "EHR system" (operated by a single institution) may "have" more than one authorization server and more than one FHIR server, and an "EHR system" comprises more than "computer software."   "EHR" is an adjective -- e.g., "EHR technology."

[2015-08-29 13:39] jmandel commented on #76
Hold on though -- first, let's get agreement on the use case that apps need
to know who their end users are, in order to properly manage their affairs.
Yes?

Assuming that's clear: are you then suggesting that apps would go though
two separate OAuth dances, one with "the ehr AS" and a second with "the ehr
Id server" (so the user would experience multiple flows, buy the values
from the two separate

[2015-09-01 17:20] bakerdb commented on #76
Yes, I can envision a use case where an app uses an OID provider (e.g., Google+) to authenticate the end user, but only rarely needs to reach out to pull data from an EHR, at which point it uses the AS associated with the resource server holding the data to obtain an access token (without requesting an ID token).  In fact, I'm working on such an app now.

[2015-09-01 18:25] jmandel commented on #76
But at this point you're not talking about the user's *EHR* identity --
you're talking about who they are on Google+. The issue is when you need
EHR claims (like an NPI number, or practitioner specialty) that G+ can't
provide.

On Tue, Sep 1, 2015 at 1:20 PM, bakerdb <notifications@github.com> wrote:

[2015-09-01 22:18] whitehatguy commented on #76
It sounds like this feature is important enough to need documented use cases, and flesh out the functional boundaries (for example - is there a session management function to govern single log-out, should EHRs support the use of a general discovery mechanism via hostname/email/acct syntax?)  I've heard some internal asks from one of our own solution development groups that they want to build solut

[2015-09-01 22:45] jmandel commented on #76
Functioning with an external idp is a no-op for us, as far as I can
understand -- apps are always welcome to provide whatever functionality
they choose, including custom accounts, Sign in with Twitter, or whatever.
The question here is what guarantees the EHR will provide for the app.
SMART takes single sign-on to be a requirement.

I thought Argonaut was clear on this point, since we've been prof

[2015-09-02 00:50] bakerdb commented on #76
It seems to me that we're confusing two authenticated identities -- the identity the app uses for its own purposes, and the authenticated identity the authorization server needs to authorize the requested access.  Unless the app includes openid in the scope of its request, the authorization server does not return an OID token.  As our profile states, openid and profile are required parameters only

[2015-09-02 00:52] bakerdb commented on #76
Thank you @whitehatguy for getting us back to the issue at hand.  I don't think our profile should dictate EHR architecture.

[2015-09-02 00:58] jmandel commented on #76
@bakerdb The question here (as far as I can understand it) is precisely what happens when the app asks for scopes including `openid` and `profile`. My read is that @whitehatguy would like to know if we really *need* support for scopes like `openid` and `profile` at all, or whether we could get by without asking the EHR to act as an OIDC Identity Provider. In any case, we're talking about end-user

[2015-09-02 16:22] bakerdb commented on #76
The question was "Are we requiring EHRs to be identity providers, thus requiring them to implement section "15.1. Mandatory to Implement Features for All OpenID Providers" for OpenID Connect?"

I would state the requirement as something like "The authorization server MUST have the the capability to return an ID token when the app includes the openid parameter in its scope."  That doesn't mean the

[2015-09-02 16:24] bakerdb commented on #76
I meant to type "OHCA" (Organized Health Care Arrangement) -- which may be a good use case to use here.

[2015-09-02 17:00] jmandel commented on #76
No matter how the EHR implements it (whether they originate claims
directly, or pass through claims from an secondary IDP), the EHR is still
acting as an OIDC IDP in this context.

On Wed, Sep 2, 2015, 12:22 bakerdb <notifications@github.com> wrote:

[2015-09-03 21:46] whitehatguy commented on #76
Based on this conversation, let me float a couple of ideas just to get a baseline as to how much thought alignment we have:

- An EHR acts as a first-class identity provider, or, acts as a _proxy_ for an existing identity provider.
  - When acting as a proxy, the proxied identity provider has no awareness of SMART apps; any required user consent (for patient-facing apps) is managed through the EHR

[2015-09-10 21:36] whitehatguy commented on #76
FYI, Mike Jones just wrote the first draft of the [OIDC back-channel log-out specification][1].  This might resolve part of my above question as to how to handle "single log-out" where the EMR (or client apps) are native.

[1]: http://openid.net/specs/openid-connect-backchannel-1_0-00.html

[2015-09-11 15:14] whitehatguy commented on #72
I've been chewing on this for a while - I'm going to throw out some proposals here to see to see what sticks:

- Include the version number in EMR-initiated launch requests
- Apps  __SHOULD__ check this value to determine if they are compatible and indicate to the user where incompatibility exists.
- Only optional features would be added in minor version releases, thus allowing for backwards-compa

[2015-09-11 15:23] whitehatguy commented on #71
In summary - if an app has a requirement to re-obtain access for a launched context, it must request online_access or offline_access and utilize the refresh mechanism already defined.  We should make sure that the requirements around refresh tokens indicates that any launch context should be retained by the authorization server when issuing such refresh tokens, but such launch claims do not need t

[2015-09-11 15:30] whitehatguy commented on #70
At a minimum, an actor is performing the function of "launching" applications - that role is performed neither by the authorization server or the FHIR server.  A private contract must exist between the triad of the component performing that role, the authorization server, and the FHIR resource servers.  Would it be amenable to indicate that the "EHR Application" is a role instead, and that it has

[2015-09-11 17:56] whitehatguy commented on #83
Is app authentication something we feel we can standardize on with this specification (perhaps with one or more profiles of dynamic registration and/or other extensions), or is that going to be an area where we concede variability will need to exist to accommodate the various policy requirements that might exist in the wild?  Examples:

- Dynamic registration of individual installations of applica

[2015-09-11 19:18] whitehatguy commented on #80
I'm in favor or removing this per Dixie's comment.  I do think we should indicate in the security considerations that EHRs should explicitly white list return_to URLs, and where provided, launch URLs.  Any objections?

[2015-09-11 21:56] jmandel commented on #80
I agree with all of the considerations you've suggested we include. I would
also like to maintain our recommendation to use OAuth2 dynamic client
registration in cases where an automated api for registration is desired. I
don't see a downside and it helps point folks to a really useful building
block. Any concerns with this?

On Fri, Sep 11, 2015, 15:18 Matt Randall <notifications@github.com> wrot

[2015-09-14 17:28] whitehatguy commented on #80
My only concern from a specification perspective is how to word/offer such advice, given that we're removing the registration section.  We could provide specific use case scenarios where such types of registration should be considered (e.g. instances where individual installations of an application are provided their own client identifier) as part of the security considerations.

Outside of the sp

[2015-09-14 18:11] jmandel commented on #80
I don't think we should remove the section entirety; we should use it to
lift things that are universal truths and general recommendations.

On Mon, Sep 14, 2015, 13:28 Matt Randall <notifications@github.com> wrote:

[2015-09-14 19:13] whitehatguy commented on #80
I'd propose then that this specification should:

- Mention that the registration mechanism is an extension point and is left undefined.
- Recommend that authors of protocol extensions for automated registration use DCR as a basis.
- Provide the use case of per-installation registration as an example use case for why an extension might be developed.

I'm hesitant to state that using DCR is a "gene

[2015-09-15 14:04] jmandel commented on #72
Matt, I notice you want a version number in the launch request itself; is
there a reason we need it there instead of int he conformance statement?

If we can get away with it, my preference would be to add a "SMART on FHIR
Authorization Protcocol Version ID" to the Conformance statement, right
next to our existing discovery extensions. As Matt suggests, we'd use semver
<http://semver.org/> convent

[2015-09-15 14:05] jmandel commented on #71
Yes, the summary is right. The clarification you've proposed sounds like an
appropriate FAQ kind of question to me (but if you have a spot where you
want to address it directly in the spec, that's fine).

[2015-09-15 14:06] jmandel commented on #70
I agree that "EHR Application" is a reasonable term to describe the entity
we're talking about.

[2015-09-15 16:16] bakerdb commented on #70
perfect!  Thanks!

[2015-09-15 23:05] bakerdb commented on #71
I don't understand what use case you're thinking of when you say "applications cannot re-request access for a specific context through other means."

I think the explanation of online_ access and offline_access should make it clear that unless the application is provided offline_access, it terminates when the user logs off.

[2015-09-16 19:11] bakerdb commented on #72
It seems to me that since the app developer will have used x version of the spec to build the app, that version should be included in the app launch request so that the authz server will know what version was implemented in the app vs. the current version (given in the conformance statement).  Knowing this may influence the authz server's decision about whether to authorize access, and how that ac

[2015-09-16 19:14] bakerdb commented on #80
This sounds good to me.

[2015-09-16 19:40] bakerdb commented on #83
This sounds to me like two separate questions:  1) whether we want to include dynamic registration as a requirement, and 2) whether we want to standardize on app authentication.

Standardizing on dynamic registration sounds fine to me; I think that's what implementers will be doing anyway.

I think variability will continue to exist w.r.t. client authentication, with government organizations alway

[2015-09-16 19:49] bakerdb commented on #76
Re:  Client apps would use a SMART-defined resource for checking validity of the user sessions (e.g. "single log-out")?

Re EHRs advertise keying endpoints through SMART-defined mechanisms, rather than OIDC discovery mechanisms?

Re EHRs don't provide a UserInfo endpoint. FHIR resources should instead be used to obtain user demographics.

[2015-09-16 19:51] jricher commented on #83
In HEART, we're leaning toward standardizing both of these.

1) Dynamic registration required to be implemented by authorization servers. This doesn't mean that all clients have to be dynamically registered or that all functionality be made available to dynamically registered clients, but its availability as a baseline function is going to be very important.

2) Authentication through asymmetric k

[2015-09-16 20:03] jmandel commented on #72
Given that we haven't had any issue with this, and I'm reluctant to add
more parameters to the launch URL on speculation alone.

On Wed, Sep 16, 2015 at 3:11 PM, bakerdb <notifications@github.com> wrote:

[2015-09-21 14:42] whitehatguy commented on #71
Say an application wanted to track your history of which patients you have accessed for quicker access - if the application is only authorized for patient/... scopes (instead of user/...), it would never be capable of re-requesting authorization to access that specific patient's records once the user is logged out.  The only option for the user to access that record through the client app again wo

[2015-09-22 18:56] whitehatguy commented on #76
I agree we shouldn't prohibit additional capabilities, but do we require or recommend them?  For example, if we intend that id_tokens can be verified by other actors outside of the client application, then it's a given that we have to require OIDC discovery via .well_known at the issuer URL.  It also puts a requirement on the client application that it performs the same discovery and verification,

[2015-09-29 12:45] whitehatguy commented on #72
No particular issues with not sending the version in protocol message; it does lobby a passivity requirement on the version advertised in the conformance document (if we changed the discovery mechanism in the conformance statement, but still want to advertise the new version to old apps, the old mechanism would need to be retained for a period of time.)  I personally think that's acceptable.

[2015-09-29 13:29] whitehatguy commented on #83
Okay, I'm going to float a proposal - honest feedback welcomed:

- Indicate that for client authentication, use of JWT tokens is required unless overridden by a separate profile (e.g. government (not necessarily U.S.) defined profiles).
- Define two options for exchanging keying material:
  - Public JWK URI (applicable to most client-server apps, such as web apps.)
  - Dynamic Registration (to sup

[2015-09-29 13:44] whitehatguy commented on #79
I'm in favor of Dixie's analysis (the client SHOULD present any credential it possesses, institutional policy defines whether the credential is required for the given app.)  I'm in agreement that we shouldn't enumerate all possible threats that should require client authentication -- should we at least provide a non-normative example (e.g. a static javascript app) where institutional policy may no

[2015-10-02 15:04] jmandel commented on #74
Now reviewing after some time has passed...

Breaking down by case:

1. **EHR Launch flow.** The real question is, do we care about permitting an app *not to obtain* launch context when it's being launched through the EHR launch flow. I'm willing to say this isn't really that useful. In which case, the value of a `launch` scope disappears.

2. **Standarlone Launch flow.** Here, the app needs to be

[2015-10-02 16:01] jmandel commented on #83
I think this makes a lot of sense (recognizing, of course, that it makes a
breaking change to our current authorization protocol, which uses a shared
client_secret for authentication).

One question I have is: do we want to allow non-dynamically-registered apps
to supply a JWK directly, in addition to supplying them by JWKS URL? While
I agree that providing a URL is "better" for several reasons (i

[2015-10-02 16:06] jmandel commented on #79
This analysis is certainly fair, and I agree with the sentiment. The issue
I see, though, is that if we simply say the decision about which apps
should have/use credentials is left up to "institutional policy", we may
find ourselves in a situation where:

1. A desire for the appearance of security leads to provisioning client
keys in situations where they just don't help (e.g. in-browser static
HT

[2015-10-02 17:19] bakerdb opened #89 "Argonaut use case #5 (EHR-to-EHR): Lifetime of access tokens"
The current draft of the Argonaut authorization profile for use case #5 (EHR-to-EHR access) states that the "exp" parameter specified in the authorization and authentication JWTs passed from EHR-A to EHR-B "MUST be no more than five minutes in the future."  Thinking about the possibility that such accesses might be for bulk transfers (e.g., transition of care), it seems to me that the "exp" value

[2015-10-02 20:25] whitehatguy commented on #74
I was originally only referring to the fact that a client application sends the "launch" parameter to the EHR, but is required to send both the parameter AND include the scope of "launch".  I wasn't sure what the reason for including the plain "launch" scope was in this situation given the extension is explicitly asking for the launch data already.

[2015-10-02 20:31] jmandel commented on #74
Indeed -- and I think I'm agreeing with your original point :-)

[2015-10-02 21:12] jricher commented on #83
I think it makes sense, too. I would be fine with both static and dynamic clients registering a JWK through either a URI or through a value. I think that you can control behavior by policy and audit, especially with the non-dynamic apps. Not every kind of app is going to be able to host a key URL, but those that can really should.

Brainstorm thought: It might be useful to standardize something in

[2015-10-02 21:33] whitehatguy commented on #79
Here's some proposed guidance for the security considerations:

- If a client application's architecture utilizes access tokens on the user's local device (e.g. via Javascript, native application), and such access utilizes the full set of scopes the client application may be authorized for, then client authentication __SHOULD NOT__ be required; requiring such provides no additional security benefi

[2015-10-03 13:28] jmandel commented on #83
I agree that a "jwk by value only" property in the software statement would be nice to have.

As for the question of whether we should also support an initial access token for explicit as in control over provisioning: I would want to understand the use case a bit better (i.e. When, in the explicit provisioning process, area values locked down?) and tk think through whether the semantics of this pr

[2015-10-06 14:01] whitehatguy commented on #83
Here's a sample scenario for initial token use in a hospital environment:

Hospital I.T. purchases 5 mobile devices (let's say iPads) for use by physicians.  Their default stance is that B.Y.O.D. is disallowed as they had a previous incident of malware on one of the physician's devices, and now only wish to allow devices that have MDM (mobile device management) installed to control what software i

[2015-10-06 14:08] whitehatguy commented on #83
I just realized we might have spiraled off a bit into the weeds (although I think it is good discussion).  If we agree that those entities that aren't "per-instance" clients are using a json key url, then this particular question was satisfied.  Other "per-instance" clients' registrations would likely be revoked by either the user or by an administrator on behalf of users if particular client(s) w

[2015-10-06 15:13] jmandel commented on #83
I think we agree that non-"per-instance" clients *may* use a JSON web key
url. But we shouldn't prevent them from supplying a JSON web key directly,
in my view. That is: at the specification level, we should allow both and
simply comment on considerations about the advantages/disadvantages of each.

  -J

On Tue, Oct 6, 2015 at 10:08 AM, Matt Randall <notifications@github.com>
wrote:

[2015-10-08 18:30] whitehatguy commented on #83
You're correct in that we should allow for supplying a JSON web key directly - the use case there would be a native client/server application that has no web-facing counterpart.  We could document in the security considerations enumerated reasons for publishing it, but I'm in general agreement it should be allowed.

Did you have any other specific examples of disadvantages to publishing the JSON W

[2015-11-04 08:42] izi opened #97 "Read/Write scopes do not cover all scenarios."
Currently the format for user/patient scope looks like:

[code]

The issue is that 'read' effectively means reading data and 'write' means that you can create/updated/delete data. You can imagine situations where you allow user to read/update data but you don't want him to have delete patient data privilege.

Is it possible to extend it to cover at least delete as separate privilege?

[code]

[2015-11-04 19:24] jmandel commented on #97
It's a great point, @izi ! We've only really begun to explore the write-related use cases, so we began with the smallest model that we thought could conceivably work. Actually, it might be more common to give an app the ability to create new resources, but not to updated/delete any resources (e.g. a blood pressure cuff might only be allowed to send new data). Happy to think through additions here,

[2015-11-05 18:34] whitehatguy commented on #97
I think it should be pointed out that the scopes only represent the permissions to act on the user's behalf, as it's not really possible to represent all of the fine-grain details of what a user may (or may not) be allowed to do with FHIR scopes.  If the user doesn't have the ability to delete a record, neither would an application acting on the user's behalf.  Regardless - your point is still val

[2015-11-05 18:42] jmandel commented on #97
Just to clarify the point about patient-generated data: MU3 does require "Patient-generated health data or data from a non-clinical setting is incorporated into the certified EHR technology for more than 15% of all unique patients".

Note that CMS does not require an *API* for this functionality, but the functionality is required.

And the right APIs will make this goal easier to achieve.

[2015-11-10 16:34] ILindsley opened #98 "Unable to Sign-in to the Smart FHIR Sandbox"
I know I'm a total noob for asking this, and I know the answer to this is probably obvious....but whenever I click on the link "sign into our sandbox" on the http://docs.smarthealthit.org/tutorials/testing/ page, a patient search web app of some sort launches, and an error is immediately displayed.

This is the error: "Search failed, see console"

I swear I wasn't getting this error before (last w

[2015-11-10 21:23] jmandel commented on #98
Thanks for this report -- should be fixed now!

[2015-11-10 21:23] #98 closed

[2015-11-11 15:21] ILindsley commented on #98
Josh,

I'm still getting the same error.  Here are the steps to reproduce:

   1. Navigate to http://docs.smarthealthit.org/
   2. From the "Sandbox" drop down at the top of the page select "Test Your
   App"
   3. Click the link titled "our public sandbox server
   <https://fhir.smarthealthit.org/>" which navigates me to
   https://fhir-dstu2.smarthealthit.org/#/ui/select-patient (Clicking on

[2015-11-12 08:56] nschwertner commented on #98
Hmm. Could it be that your FHIR Starter still thinks that the main API server is an open one? Perhaps clearing the local storage for `fhir-dstu2.smarthealthit.org` would help? Or try a different browser or same browser in anonymous mode?

[2015-11-13 14:32] ILindsley commented on #98
No dice.  I'm still getting the same error.

Is it correct that I'm being sent to
https://fhir-dstu2.smarthealthit.org/#/ui/select-patient after clicking on
the "sign into our sandbox" link?  I could have sworn before (last week)
that I somehow got to a different SMART FHIR starter page--where I was able
to launch several apps, including the growth chart app from the FHIR
starter.  Is there anothe

[2015-11-13 14:36] ILindsley commented on #98
Disregard.  I'm good to go now!!  For whatever reason, switching from
Chrome to Firefox fixed the problem....thanks!!!

On Fri, Nov 13, 2015 at 9:32 AM, Ian Lindsley <ianjlindsleysr@gmail.com>
wrote:

[2015-12-18 19:45] explunit commented on #18
Given the above, and since adding complexity to the Authorize endpoint necessarily increases its attack surface, shouldn't processing of the `launch` parameter be optional for EHRs? This would meant that SMART apps should be designed so they still function if all they have is initially-received launch information and interaction with standard OAuth2 and FHIR.

EHRs will already have a well-defined

[2015-12-21 15:21] jmandel commented on #18
It's a fair point that some EHRs may not support scopes like
"launch/patient" - and these EHRs will still be able to run SMART apps that
don't depend on the EHR handling patient selection.

But if we want to talk about attack surfaces, I think an important best
practice is to limit the amount of data we share with apps; and allowing
apps to request single-patient access is an important part of how

[2015-12-21 17:31] whitehatguy commented on #18
I'm fairly neutral on the topic of SHOULD versus MUST on EHR support for the client-initiated launch workflow, but I'd like to provide some feedback on your statement, @explunit:

SMART on FHIR is a profile of OAuth2 with it's own processing rules.  OAuth2 explicitly states the following:

In this context, SMART on FHIR is a "prescriptive profile" that defines such extensions to achieve interopera

[2015-12-21 17:53] explunit commented on #18
@whitehatguy Does the concept of a Profile (in OAuth2 terms) mean a specific set of response_type, scope, property values, etc? Or can it also include completely new querystring parameters to OAuth2 standard endpoints, e.g. `launch`?

(Not a rhetorical question -- I couldn't find a clear answer of how far you can go with a profile and still call it OAuth)

[2015-12-22 20:20] whitehatguy commented on #18
You're correct in that it wasn't explicitly defined as to what constitutes a "profile" in the RFC.  I can say that many of the "profiles" that have been released for OAuth2 tend to include new parameters or headers not defined by the original.  An example is the [JSON Web Token Profile for OAuth 2.0 Client Authentication and Authorization Grants][1].  In this profile, a client application sends an

[2015-12-30 15:00] climoli opened #107 "Misnamed fields and broken links on http://docs.smarthealthit.org/profiles/"
We went through the FHIR resources associated with the SMART profiles and found some discrepancies that we wanted to make you aware of (see attached). Please let us know if the assumptions we've made about the field and resource name updates are correct (rows 2-10). Please also let us know what we should do about the fields SMART specifies should be present but are not in the FHIR resource (rows 1

[2015-12-30 16:40] jmandel commented on #107
Thanks for these! We've already had a [fix submitted](https://github.com/smart-on-fhir/smart-on-fhir.github.io/pull/106) for `Observation.reliability`. The others we'll need to fix! (If you're willing/interested, please feel empowered to submit a Pull Request with these fixes.)

[2015-12-31 03:17] Healthedata1 opened #108 "Unable to connect to grahame's server with demo Jquery app"
I've been modifying this demo on JSfiddle to use as a demo on NutritionOrder at HIMSS.  I noticed I can't point to any endpoint like Grahame's open server.  I'm not pretending I know what is happening under the hood with the authorization and certificates, but HAPI works if I change the endpoint from 'http' to 'https' and the browser complains about the certificate, but Grahame's server just claim

[2015-12-31 05:10] jmandel commented on #108
Thanks for the report, Eric - can you save and share a link to the jsfiddle that you have created, so we can see what's going on?

[2015-12-31 20:40] Healthedata1 commented on #108
here is the link: https://jsfiddle.net/ehaas/6L6qv63t/2/

Last I checked
valid patient resource id for HAPI = 1
valid patient resource id for grahames server = 111
valid patient resource id for Furore = f009

Thanks,

Eric

Eric M Haas, DVM, MS
Health eData Inc
211 South Jefferson Street, Napa, CA, 94559
707.227.2608|Skype: haas.eric1
ehaas@healthedatainc.com <ehaas@healhtedatainc.com>

On Wed, De

[2015-12-31 20:51] Healthedata1 commented on #108
oops this fiddle https://jsfiddle.net/ehaas/mq07txsp/7/ uses
FHIR.client(demo);   the other one I sent uses a get -though they behave
the same.

Eric

Eric M Haas, DVM, MS
Health eData Inc
211 South Jefferson Street, Napa, CA, 94559
707.227.2608|Skype: haas.eric1
ehaas@healthedatainc.com <ehaas@healhtedatainc.com>

On Thu, Dec 31, 2015 at 12:40 PM, Eric Haas <ehaas@healthedatainc.com>
wrote:

[2015-12-31 21:14] nschwertner commented on #108
The problem seems to be CORS related. JSFiddle is running on HTTPS, but Grahame's server is on HTTP, so the AJAX request fails with `Blocked loading mixed active content "http://fhir2.healthintersections.com.au/open/Patient/111"` (see http://www.w3.org/TR/access-control/#user-agent-security). Unfortunately, it does not seem like Grahame's server responds to HTTPS requests. Perhaps try running your

[2015-12-31 21:47] Healthedata1 commented on #108
Thanks, I will ask GG as well if there is way he can open up to https
requests too.

Eric.

Eric M Haas, DVM, MS
Health eData Inc
211 South Jefferson Street, Napa, CA, 94559
707.227.2608|Skype: haas.eric1
ehaas@healthedatainc.com <ehaas@healhtedatainc.com>

On Thu, Dec 31, 2015 at 1:14 PM, nschwertner <notifications@github.com>
wrote:

[2016-02-12 02:00] grahamegrieve commented on #107
"No known allergies": Encoded as List. You should update that now that you can negate in AllergyIntolerance directly

typo : FamilyHitory

systolic/diastolic pairing should be done by component observations now

[2016-02-21 23:50] hussain-Icoegroup opened #112 "Standalone Launch of growth-chart app"
Can the **growth-chart** app(or others) be launched standalone without the request having to generate from an EHR?
-If it's possible then what customizations are needed to be done in the **launch.html** file?
-Or is the standalone launch meant for mobile apps only?

Thanks

[2016-02-21 23:57] jmandel commented on #112
The app expects single-patient context. So you could easily create a
"standalone-launch.html" that the "launch/patient" scope to the requested
list. Then you should be able to call it with just an "iss" parameter and
no "launch".

On Sun, Feb 21, 2016 at 6:50 PM, Hussain Gilani <notifications@github.com>
wrote:

[2016-02-22 00:06] hussain-Icoegroup commented on #112
Thanks
One more thing, so that means the Authorization server(for eg, mitreid-openid-connect) needs to be customized such that it accepts requests without a **launch **query param?
What I mean to say is that launch should be made optional inside the auth-server and auth-server needs not make a call back to the ehr. Is it?

[2016-02-22 00:19] jmandel commented on #112
The assumption here is that your EHR's authorization server supports
SMART's "Standalone Launch" protocol (e.g. our sandbox server does this).

On Sun, Feb 21, 2016 at 7:06 PM, Hussain Gilani <notifications@github.com>
wrote:

[2016-02-22 00:20] #112 closed

[2016-03-15 17:22] DrClick opened #115 "Medication Prescription is now Medication Order"
The examples for the profile need to be updated.

[2016-03-17 21:25] jmandel commented on #107
Thanks for these comments: finally closing the loop!

Re:
Height measurement in FamilyMemberHistory: this is an extension, not a core element. But it should be valid.

Re: negated allergies: I still have some concerns with this representation; don't know how much we can say at the moment.

[2016-03-17 21:25] #107 closed

[2016-03-17 21:25] jmandel commented on #115
Thanks -- fixed!

[2016-03-17 21:26] #115 closed

[2016-04-19 13:38] vijaykumarxps1 opened #119 "Example of Standalone launch sequence"
Hello sir,
 their is any example of Standalone launch sequence application in javascript.

[2016-04-19 13:58] nschwertner commented on #119
Are looking for an example or would like to share an example with us?

[2016-04-19 14:13] nschwertner commented on #119
Just added a standalone app example in https://github.com/smart-on-fhir/sample-apps/tree/master/standalone The only difference between this app and the simple-app is the presence of the `launch/patient` scope. You can launch the app with something like http://localhost:8000/fhir-app/launch.html?iss=https%3A%2F%2Ffhir-api-dstu2.smarthealthit.org

[2016-04-19 14:14] #119 closed

[2016-05-13 10:40] Gyannea opened #121 "Writing resources to FHIR servers"
A very important use case that I have not seen much about is the ability to write resources to the server; in particular for remote patient monitoring. Security (authorization, authentication, and data security) is critical in such an exchange. The Personal Connected Health Alliance (PCHA) has developed such standards for the delivery of device measurement data to the health care provider. These s

[2016-05-13 12:46] jmandel commented on #121
Today the SMART API does define sport for writing resources as well as
reading them. You can try this in our sandbox. But it's important to note
that real-world EHR vendors are focusing on read access (because, among
other reasons, that's a regulatory requirement). Today for example, I think
Cerner supports writing free text notes, and need Problem -- but not yet
discrete device observations.

I t

[2016-05-13 13:17] Gyannea commented on #121
Josh,

Thanks for the reply. First the primary effort of PCHA is to specify a standardized means of transferring remote patient measurements to health care providers in a standardized format (V2 messages and V3 documents and now FHIR resources) which can then be read by other tools. Since the data is coming from outside the enterprise and typically originates in a patient’s home, security and auth

[2016-05-13 13:54] jmandel commented on #121
That's correct: our OAuth profile attempts to lock down the authorization
details for interoperability between app (e.g. the software that would be
supplying device data in your use case) and EHR. Details at
http://docs.smarthealthit.org/authorization

There is Java client based on HAPI at
https://healthservices.atlassian.net/wiki/plugins/servlet/mobile?contentId=24543236#content/view/24543236
On

[2016-05-13 18:53] Gyannea commented on #121
Josh,

I have looked at this page and am currently looking at the standalone application case and trying to get an idea of how much is out of band and a business decision, and how much is specified by the standard.

As I understand it the oAuth token request is using the client credentials (1.3.4) in the oAuth standard.
The standard does not specify how one obtains the credential. The common appro

[2016-05-13 18:58] jmandel commented on #121
Hi Gyannea,

SMART on FHIR uses "client credentials basic authorization header" to
authenticate a client to the authorization endpoint. Note that a client
alone cannot obtain an access token without the prior approval of a user.
That is, we use OAuth's "authorization code flow", so a client obtains a
code and then exchanges that code (along with its credentials) to request
an access token.

You mu

[2016-05-13 20:03] Gyannea commented on #121
Josh,

Yes it is understood that there must be some pre-arranged out-of-band exchange with the server.

The ‘HL7 hData’ part is only for capability exchange. After that there is just a RESTFul FHIR. That capability exchange must be semantically equivalent to that ‘metadata’ GET in the flow diagram, though I have no idea what one GETs when one makes that request. The hData root.xml has a standardiz

[2016-06-06 14:15] #108 closed

[2016-12-07 15:29] tiziano88 opened #128 "Document the format of the `launch` URL parameter"
Currently the http://docs.smarthealthit.org/authorization/scopes-and-launch-context/ page does not really explain how the `launch` URL parameter is meant to be used; in fact, one of the examples mentions `launch=abc123`, but looking at how the actual applications populate that parameter, it seems to me it is actually a JWT token with details about the launch context (e.g. patient etc.). Should thi

[2016-12-07 15:44] jmandel commented on #128
Th `launch` URL parameter is used in our EHR Launch flow, when the EHR opens up a window onto the app and includes a `&launch=` parameter.  The "launch" URL parameter is opaque to the app, which means means that the app doesn't need to know anything (and shouldn't assume anything) about the format of this parameters. Some EHRs may use a JWT (JWS or JWE); others may use a random number. It doesn't

[2016-12-07 15:44] #128 closed

[2016-12-07 16:19] tiziano88 commented on #128
Thanks @jmandel , appreciate your quick reply and clarification. So I am writing from the point of view of a EHR that handles OAuth2 authentication; given what you said, it seems that even in stand-alone mode, the app will link back to the EHR to show e.g. the list of patients, and then from there launch the app again, this time passing the launch context (which will be available during the authen

[2016-12-07 18:00] jmandel commented on #128
In a standalone launch, app developers have two choices:

1. The app can ask for user-level permissions (like `user/*.read`) and then, once it's been approved, the app can query for whatever data it needs. This works great for apps that need data on >1 patient at a time (e.g. a schedule management app), but it can also be used to build an in-app patient selection tool (not recommended, but sometim

[2017-03-13 14:51] #18 closed

[2017-03-13 14:51] #29 closed

[2017-03-13 14:51] #46 closed

[2017-03-13 14:51] #55 closed

[2017-03-13 14:51] #62 closed

[2017-03-13 14:51] #70 closed

[2017-03-13 14:51] #71 closed

[2017-03-13 14:51] #72 closed

[2017-03-13 14:51] #73 closed

[2017-03-13 14:51] #74 closed

[2017-03-13 14:51] #75 closed

[2017-03-13 14:51] #76 closed

[2017-03-13 14:51] #77 closed

[2017-03-13 14:51] #78 closed

[2017-03-13 14:51] #79 closed

[2017-03-13 14:51] #80 closed

[2017-03-13 14:51] #81 closed

[2017-03-13 14:51] #82 closed

[2017-03-13 14:51] #83 closed

[2017-03-13 14:51] #89 closed

[2017-03-13 14:51] #97 closed

[2017-03-13 14:51] #121 closed

[2017-03-22 01:28] isaacvetter opened #131 "Location should not be a standard launch context parameter"
Location should not be a standard launch context parameter because a clinical location in which the app is being used already exists in the Encounter resource's class and Location elements.

Additionally, very few and perhaps no production FHIR server support Location yet. I think that no one has actually implemented a launch parameter specifying to specify a FHIR Location resource (unlike Patient

[2017-03-22 03:01] isaacvetter opened #133 "Create launch parameter for app to track customer usage for auditing and billing."
It's often important for an app being accessed by multiple health systems to receive an identifier, when the app is launched from the EHR, that uniquely describes the health system.

In practice, this technique is widely and consistently implemented to accomplish auditing and even billing based upon usage. Ultimately, the needs of the app dictate a health system identifier. This identifier is cons

[2017-03-22 03:27] isaacvetter opened #134 "SMART style properties are not widely implemented"
I think that the smart_style_url feature of SMART is a great idea. Dynamically unifying the look & feel of an app and its host is where the industry should be heading. Afaik, only my EHR has implemented this feature so far and most apps are focused on more fundamental and important integration features.

The SMART spec communicates styling information by including an additional launch parameter of

[2017-03-22 21:01] daliboz commented on #133
I don't think we're settled on this, but right now we call this _tenant_ in our system. I'll throw that out as an option. It's not always as 1:1 with what an app might consider a "client" (sometimes it is many:1 app "client").  Because of that, I would avoid the client term.

[2017-03-23 00:55] jmandel commented on #133
Yeah, this is definitely what Cerner calls "tenant", but I'm not sure that term is widely understood. I don't have any fabulous naming suggestions (and at the end of the day we'll just pick something and move on) but my top suggestions would be:

 * `billing_account`
 * `billing_code`
 * `customer`

[2017-03-24 22:12] isaacvetter opened #135 "Spec should clarify that id_token is required, userinfo endpoint is optional for AS OIDC support."
The spec currently says [this](https://github.com/smart-on-fhir/smart-on-fhir.github.io/blob/into-hl7/scopes-and-launch-context/index.md#scopes-for-requesting-identity-data):

The spec doesn't mention a userinfo endpoint, which means it's not required by SMART. Right?

[2017-03-27 16:42] nschwertner commented on #134
BPC v2 (http://apps.smarthealthit.org/app/49) would be a good candidate for testing the style property functionality. We were discussing this with @vasofilipov and he thinks he can modify the app to pick up the color cues from the style param. Then perhaps we can test it with your EHR to see what we can learn

[2017-04-10 19:40] jmandel opened #136 "Define a mechanism to declare support for specific capabilities"
The SMART on FHIR specification leaves open the question of which capabilities a given EHR server needs to support. To help drive more consistent support, we can take two steps:

1. Define a way for SMART on FHIR servers to explicitly list the capabilities they can support
2. Define a set of "Core Capabilities" that represent a useful target for general implementations

Draft definitions at:

http

[2017-04-11 21:04] nschwertner commented on #136
Modularizing a SMART on FHIR implementation and formally describing it via the core capability concepts makes sense. This will provide an achievement-style staged road map for future implementations where partial implementations are not seen as failure. Also, sets the stage for extending the standard in a discoverable way. Two observations here:

1. I am not sure that `CapabilityStatement.rest.sec

[2017-04-11 21:18] jmandel commented on #136
Thanks @nschwertner. For (1), is there a different place you'd naturally put this info?

For (2), I think `offline` is in the core list (it shows up for me):

![image](https://cloud.githubusercontent.com/assets/313089/24931341/e6c99d7a-1eda-11e7-8162-655f3e737e40.png)

[2017-04-11 23:59] nschwertner commented on #136
Cool. I didn't see the refresh token in the core list description file which made me wonder (https://github.com/smart-on-fhir/smart-on-fhir.github.io/commit/db07b555dfc30ee8d2ee8775f3fecb132eb57a87)

Regarding (1), I don't see any better place to put it in the current definition of the CapabilitiesStatement. Just saying that `security` is not a perfect fit. I imagine that adding a special purpose

[2017-04-12 00:33] davidhay25 commented on #136
The core capabilities seem to refer to the various ways and contexts in which the app can be launched (?correct)

What is the thinking around specific scopes (read/write access to specific resources) and resource content profiles?

[2017-04-12 01:21] jmandel commented on #136
You're correct, @davidhay25.

Overall, there are a great number of combinations of these granular permissions, and

1. I'm not sure we can get the details perfectly correct "in general".
2. I'm not in love with our permission model, and while I don't propose to revise it here, neither do I want to invest too much more in it.

I might rather fall back to the server's stated capabilities (via standa

[2017-04-12 02:56] davidhay25 commented on #136
That would seem to be a pragmatic way for the client to understand a
servers capabilities. So SMART won't itself define (or refer to) a profile
- rather leave that to the individual client/server interaction...

On Wed, Apr 12, 2017 at 1:21 PM, Josh Mandel <notifications@github.com>
wrote:

[2017-04-12 14:25] jmandel commented on #136
The intention would be that these context parameters are available for both EHR Launch and Standalone Launch @daliboz; would you propose separating these out?

[2017-04-12 15:34] daliboz commented on #136
I think we should clarify the text to indicate it's not just applicable to launch/patient and launch/encounter if that's the direction this goes.

As to separating them:
In our current implementation, we do support both contexts during an embedded launch. So, declaring only embedded launch along with those would indicate they weren't supported in standalone. If we added support for standalone, the

[2017-04-12 17:28] isaacvetter commented on #136
Hey @daliboz , @jmandel,

I think that we should consider grouping the declaration of support for the launch-context capabilities under or within the launch modes. context-banner and perhaps context-style don't really make sense to be used for launch-standalone.

We primarily only support contextual launch parameters from EHR/embedded launches.

Standalone launches with contextual launch parameter

[2017-04-17 12:18] kpshek commented on #134
I agree that there are SMART app developers who will want to spend the time/effort to make their SMART app match the look & feel of the application they are contained within.

We tried implementing this within our Cerner implementation -- both in our EHR and our patient portal. Both applications provide good use cases to vet out the current SMART styling definition.

Our EHR is a native Windows ap

[2017-04-17 15:04] kpshek commented on #131
👍

Specially, we should remove:
- The `launch/location` scope
- The `location` launch context parameter

[2017-04-17 18:25] kpshek commented on #135
@isaacvetter - The `/userinfo` endpoint is defined by the [OpenID Connect specification](http://openid.net/specs/openid-connect-core-1_0.html#UserInfo) and is required if implementing OpenID Connect.

So, if an authorization servers honors the `openid` and `profile` scopes (both of which are defined by OpenID Connect), it needs to implement that `/userinfo` endpoint.

As it is written today, it is

[2017-04-17 20:11] kpshek commented on #133
Sorry for coming late on this thread.

Our use of tenant is [rooted here](https://en.wikipedia.org/wiki/Multitenancy), which I've found to be very prevalent throughout the computing industry. So, tenant isn't some term Cerner invented or appropriated. :-)

I would not use terms like `billing_account` or `billing_code` as it is not clear whom is the billable entity. Eg, billable by the FHIR server

[2017-04-18 02:47] jmandel commented on #131
+1

Also noting: #133 address another use case that some have expressed for `location`: the ability to tell "whom to charge" for a given app launch.

[2017-04-18 03:41] kpshek commented on #133
From @jmandel on #131:

When we land on a parameter name and meaning, let's get information from existing SMART EHR systems on how they would implement this parameter. Then, we'll take that to the mailing list and get feedback from all of the SMART app developers to see if this would meet their needs. If we get majority agreement, we have a good plan for progressing forward.

If we get a significa

[2017-04-18 06:42] vasofilipov commented on #134
I can add here that the current development build of BPC v2 (http://apps.smarthealthit.org/app/49) implements the current smart_style specs and uses background/highlight colors + font to stylize the application and it does produce a working theme out of these styles. If for some reason the generated theme is undesirable the build-in themes can be used too.

[2017-04-18 15:56] isaacvetter commented on #134
Hey @vasofilipov ,

What feedback do you have on the current experimental style attributes? What would've made your work easier? What are we currently missing?

Isaac

[2017-04-18 16:18] isaacvetter commented on #135
Hey @kpshek ,

I don't see where the /userinfo endpoint is explicitly required for the OAuth authorization flow. From the [OpenID Connect spec](http://openid.net/specs/openid-connect-core-1_0.html#toc):

- Nothing in section [5.3](http://openid.net/specs/openid-connect-core-1_0.html#UserInfo), which you reference, says that the actual endpoint is required, only what's required to implement the end

[2017-04-18 18:17] kpshek commented on #135
@isaacvetter - You're correct! Thanks for setting me straight here.

The standard set of claims (in our case, we're just concerned about `profile`) can be returned in either the /userinfo endpoint or the ID token.

What do you think about SMART be prescriptive as to which should be used (at a minimum)?

[2017-04-18 19:37] davidhay25 commented on #133
"An opaque string identifying the healthcare organization that is the owning tenant for the data within the FHIR server (see iss parameter)." - so why not 'organisation' or 'custodian'?

[2017-04-18 19:43] isaacvetter commented on #135
As a matter of fact, I sure do. :)

I believe that the simplest scenario is for the auth server to return the ID token jwt alongside the access_token. This keeps the number of back and forth exchanges to a minimum, fits within the OIDC spec, is simple enough to auth servers and still gives apps the assurance they need for user authentication.

Thoughts?

Isaac

[2017-04-18 21:47] jmandel commented on #135
Effectively we require an `id_token` (with a `profile` url claim inside, identifying the FHIR resource with the user details) today.

What we don't say is "any you need to put the user's name, e-mail address, and other profile details into the `id_token`, too" — we could, but we'd be replicating what's already in the FHIR resource (and it does make the authz server logic a bit more complicated). I

[2017-04-18 22:26] kpshek commented on #133
I was trying to avoid the word "organization" by itself as to not cause confusion that we are referring to a [FHIR Organization](https://www.hl7.org/fhir/organization.html). 😄

Custodian is a bit blurry to me because I think of a [data custodian|https://en.wikipedia.org/wiki/Data_custodian] in which case the healthcare organization and the EHR both have distinct & shared responsibilities as the cu

[2017-04-18 22:57] jmandel commented on #133
FWIW, `billing_code` is still my preference. It gets at the reason this field exists, and makes people less inclined to try to use it for other purposes. We'd document the fact that it's about the app or server tracking who called it for its own internal accounting/billing purposes.

[2017-04-19 06:22] vasofilipov commented on #134
Hey @isaacvetter,
The current set of attributes provided are just about enough to restyle the main interface parts of BPC v2 when using the build-in themes as a base to build on. The biggest issue we're facing is testing this functionality with a server that has the smart_style_url parameter and the URL to actually be available and working without CORS issues and such.

[2017-04-19 19:38] kpshek commented on #133
This is actually just one use case for this new field. Another use case is for the SMART app developer to identify the data source in their private set of data. For example, imagine a Population Health SMART app that aggregates data from multiple EHRs. When the SMART app is launched from each EHR, they need to identify what logical data set to pull their data from.

[2017-04-20 13:39] jmandel commented on #133
This part is less clear to me @kpshek. Can you shed light onto why the `issuer` (FHIR server base URL) is the wrong choice for identifying the "logical data set"?

Overall, if there are two different concepts, we can also consider creating two parameters and give them different names. I understand Cerner used one thing, called "tenant id" for both of these; but I'd want to know whether this combin

[2017-04-20 14:32] whitehatguy commented on #133
I might point this discussion towards the ITU-T publication ["Cloud Computing - Overview and vocabulary (Y.3500)"][1] as published by the International Telecommunications Union standards group.  Within it, it defines several possible (standard) naming choices:

The document also provides this useful tidbit in the "key characteristics" of cloud computing section:

tenants and their computations and

[2017-04-20 18:16] kpshek commented on #133
You can use the FHIR server base URL _if_ the owner of the FHIR server actually segments the data between tenants/customers/data sources. It's entirely possible the a FHIR server opts to not do this and instead uses the user identity to ensure that they have access to just the data they should have access to.

Eg, imagine a completely cloud-based EHR written from the ground up that has a common id

[2017-04-20 19:42] jmandel commented on #133
It's a great thought experiment! In a future-looking system like this, there may be multiple levels to care about: does "tenant" mean an organization like "Boston Children's Hospital" (i.e. equivalent to a FHIR base URL in today's world) or a finer-grained app-billing oriented org unit like "the cardiology department" (if they're the ones who have a paid subscription to this particular app)? It se

[2017-04-26 10:05] kpshek commented on #133
I think this is a fair characterization and speaks to the two use cases being discussed here.

Good point. Cerner's tenant ids happen to be globally unique.

---

Perhaps we should take a step back and take an inventory of how this proposed field would be populated by EHRs today. I'll start off and will update this table as we get new values.

| EHR | Contact | Value |
| ---- | ------ | ----- |
|

[2017-04-26 16:27] SiddShah commented on #133
At eClinicalWorks we use a term called 'practice code' that uniquely and globally identifies a data source system. We would ideally pass this code to the app. In fact it is identified in our FHIR URL.
Having said that, there is a chance that there are multiple tenants within that system, but this use case is hard to model unless we define this ID to be a 1:1 mapping with a taxID of the entity/orga

[2017-04-26 21:38] bdoolittle commented on #133
@kpshek At athenahealth, we have a hierarchical structure indexing our users/tenants. Within the scope of our EHR, users may be uniquely identified by the following taxonomy Practice/Organization->Department->User. It is entirely possible for another EHR to use an indexing scheme similar to ours and as a result there may be namespace collisions. To avoid this we would want to prepend the tenant id

[2017-05-12 20:04] gotdan opened #138 ""resource" launch context parameter"
Do any EHRs support the "resource" launch context parameter? If not, do we want to keep it as part of the spec? If we do keep it, I think we should probably add it to the capabilities extensions in #136...

[2017-05-13 10:06] kpshek commented on #138
Cerner's implementation doesn't support the `resource` launch context parameter.

cc @isaacvetter, @bdoolittle, @SiddShah

[2017-05-19 14:42] isaacvetter commented on #138
Hey @gotdan,

Same with my EHR. I see the problem with the [_resource_ launch context parameter](http://docs.smarthealthit.org/authorization/scopes-and-launch-context/) is that it's not specific enough.

I'd recommend removing it as well.

Isaac

[2017-05-31 15:25] isaacvetter commented on #135
Hey Josh, All,

Talked with Kevin, we came up with this middle approach:

id_token is required. /userinfo is optional.
id_token must contain:
* OIDC [required keys ](http://openid.net/specs/openid-connect-core-1_0.html#IDToken) (iss, sub, aud, exp, iat)

id_token may contain profile, which is the url of the current user's FHIR resource. Clients should make use of the profile field, if populated, a

[2017-05-31 16:25] kpshek opened #139 "Document /metadata differences between DSTU2 (and earlier) and STU3+"
Currently, the [SMART documentation](http://docs.smarthealthit.org/authorization/conformance-statement/) describes how a FHIR server advertises it supports SMART on FHIR via the old DSTU2 [Conformance](http://hl7.org/fhir/DSTU2/conformance.html) resource. With STU3, this resource was renamed to [CapabilityStatement](http://hl7.org/fhir/STU3/capabilitystatement.html).

We need to:

1. Update the SM

[2017-06-01 01:05] jmandel commented on #135
I think this is a fair middle ground! Just so I'm clear: what's the argument against mandating that servers must support the "profile" claim? It would certainly help to know there was some consistently available mechanism.

[2017-06-01 16:00] jldanford commented on #133
@kpshek Allscripts supports unique identifiers by database, although the method varies across the product platforms. As for selecting a name I'd recommend against using anything that references a particular function, i.e. billing*. Experience has shown me that about a week after you do something like this you find a completely different use case and the name then just causes confusion. It might be

[2017-06-01 16:04] isaacvetter commented on #135
Hey Josh,

Using a FHIR resource (Person, Patient, Practitioner, etc) to represent the logged-in user makes sense for a real FHIR app, but we're some seeing usage of SMART on FHIR for pure single sign-on without any actual FHIR / API callbacks from the app. I don't want to complicate this nice, simple and valuable SSO use-case by requiring a perhaps, less technically capable app developer to also

[2017-06-02 13:46] jmandel commented on #135
Understood -- and for this case you'd host a /userinfo endpoint? I wonder if we shouldn't just make /userinfo required everywhere. The goal of this line of thinking is simply: could we agree on one thing that's always available, and some extra optional stuff (rather than a whole bunch of things that are all optional).

[2017-06-02 14:01] whitehatguy commented on #135
Section 5.4 of the OIDC specification would imply a UserInfo endpoint would be required when supporting the _profile_ scope (as an access token is returned in all SMART authorization workflows).  I had originally thought it was only necessary to include such claims in the id_token.  Upon re-reading 5.4, I would anticipate that libraries using the authorization code grant workflow would expect prof

[2017-06-02 14:06] jmandel commented on #135
Yeah, I think that's the best interpretation, though I find the text slightly ambiguous:

I say this just beacuse conformance language like MUST/SHOULD/SHALL is not used here. It's more like a description. It certainly wouldn't seem to _violate_ the spec, for example, to include these claims in an `id_token` (even if you also host a /userinfo endpoints where the same claims are available).

[2017-06-02 14:25] isaacvetter commented on #135
Hey @jmandel , @whitehatguy ,

I agree that it's always better to require a minimal set of features than have a much larger optional set of features.

I'm hoping to return identity claims in id_token, not support /userinfo and optionally support profile. This seems simple and secure, it's not entirely clear to me that is or isn't valid according to OIDC.

Isaac

[2017-06-02 15:57] whitehatguy commented on #135
@isaacvetter

- I'd agree that returning the values in the id_token is both simple and secure.
- I'd also agree it's difficult to determine if it is or isn't valid within the OIDC specification.
- If we look at this through the lens of an implementer, the OIDC relying party implementer's guide (draft....) is fairly explicit that the point of a resulting access_token is for the [express purpose][1]

[2017-06-04 15:49] jmandel commented on #139
I'm not sure the `iss` itself conveys this information, unless you're considering some kind of naming convention? I think the recommended approach would be to fetch `/metadata` and see — this would be my preference over a naming convention (which is brittle) or a third URL parameter to convey version (which might always be wrong / out of sync with reality).

[2017-06-04 20:27] kpshek commented on #139
@jmandel - Sorry, my initial description wasn't clear. I realize the FHIR base URL (`iss`) doesn't convey the FHIR version. I was trying to say that we need to provide guidance that SMART app developers will need to call `iss/metadata` and determine the version of FHIR they are dealing with.

[2017-07-10 22:00] isaacvetter commented on #133
Given the significant lack of clearcut consensus on this feature, I don't think that we should try to include it in the SMART spec balloted by HL7. Further, I'm inclined to close the issue.

Any concerns?

[2017-07-14 18:25] kpshek opened #141 "Use 'fhirUser' scope/claim instead of 'profile' scope/claim for OIDC"
In discussion with @isaacvetter and @whitehatguy, we were digging into SMART's use of OpenID Connect. As part of this discussion, we came to the realization that SMART is overloading OIDC's `profile` scope and claim.

Per the OIDC specification, the `profile` scope is defined as:

SMART is overloading the `profile` scope to be just the `profile` claim (and none of the other claims).

The `profile`

[2017-07-14 21:57] isaacvetter commented on #135
Hey @whitehatguy , @jmandel , @kpshek, and everyone else interested in this topic.

I'm going to create a PR with the intent of documenting this plan (which also accounts for @kpshek 's #141).

To be conformant with SMART on FHIR, an EHR's authorization server must
* support the openid and profile scopes.
* return an id_token JWT alongside the access_token, when the openid scope is granted to the

[2017-07-16 14:13] jmandel commented on #141
Thanks @kpshek! I think this would bring very welcome clarity! (Though the pain of a breaking change here is a consideration, I think OIDC is one of the least-implemented parts of the spec at any rate, and we'd do well to hit the "reset button" and get things right.) If we're going to introduce a new scope and claim, we should also be clear about:

  * what is the claim?
   * Is it a relative URL

[2017-07-17 13:38] whitehatguy commented on #135
The only clarifications that I think may need to be addressed are:

- What does requesting the "profile" scope return?  Is it the demographics in the id_token and/or the user's FHIR endpoint, and are any of these explicitly required to be returned by the authorization server?
- Does the resulting access token provide access to the user's FHIR endpoint when authorized with the "profile" scope?

[2017-07-26 19:09] isaacvetter commented on #141
I think that this proposed fhirUser claim should always be a single, absolute (non-search) url to the identity of the current user as represented in FHIR.

It's a feature of SMART that it's tightly integrated into FHIR. Let's not overcomplicate this. The FHIR server base url and user type are fairly explicitly asserted in an absolute url.

@jmandel - does that sounds alright with you?

[2017-07-26 20:00] isaacvetter commented on #135
Hey @whitehatguy ,

Good clarifying questions, here's what I think makes sense:

The granting of the `profile` scope causes the AS to return the `fhirUser` claim (#141) within the `id_token` JWT. The value of `fhriUser` is an absolute url to the EHR's FHIR resource that best represents the current user.

Yes. When the AS grants the `id_token` scope, it _must_ return the [OIDC required](http://open

[2017-07-27 18:21] jmandel commented on #141
If we lock it down to an absolute URL: is it ok for this URL to have a different base URL from the FHIR server that the app is connecting to in the overall OAuth flow? If it *can* be different, should the app use its access token for the "main" FHIR server to talk to this different one? Relative URLs avoid these particular issues. But if we said it needs to be an absolute URL *and* it needs to hav

[2017-07-27 18:24] jmandel commented on #138
As we finalize the ballot package, I'm going to add `resource` to https://github.com/smart-on-fhir/smart-on-fhir.github.io/blob/into-hl7/conformance/index.md for consistency. But then: I'll recommend during ballot reconciliation that we can plan to drop `resource` from both places.

[2017-07-30 06:12] isaacvetter commented on #141
Josh - I hadn't considered some of the distributed edge cases that you're pointing out. I think that it is not only reasonable, but probably a good idea, to require the authorization server that's asserting the user's identity to also "host" the user's identity.

This would mean that yes - the fhirUser absolute url should be the same FHIR server that the app is connecting to.

In practice, for a m

[2017-08-14 18:27] yashaskram commented on #135
Based on the PR https://github.com/smart-on-fhir/smart-on-fhir.github.io/pull/144, I see that the current proposal for Auth server is to leverage profile scope to serve fhirUser claim as part of the id_token (fhirUser within id_token jwt as an extension of OIDC spec [custom OIDC claim])

If one of the intent is to provide non-FHIR way to do SSO through SMART on FHIR, then why use profile scope to

[2017-08-25 16:51] michelemottini commented on #141
I like `fhiruser`

Could the specs specifically include also `Person` as a possible target resource?  The current specs at http://docs.smarthealthit.org/authorization/scopes-and-launch-context/ list only `Practitioner`, `RelatedPerson` and `Patient` - and no one of those really match our users, the only resource we could use is `Person` - and I think other systems are in the same situation.

[2017-08-28 15:51] daliboz commented on #141
Note: the authorization server and the FHIR server may be different @isaacvetter @jmandel, so just one clarification on it being "hosted by the authorization server": I agree the Patient/Practitioner/etc absolute URL should be the same FHIR server as the "aud" claim that the app would send to the authorization server (the target FHIR server).

In regards to allowing Person: I also agree with @mich

[2017-09-05 13:43] jmandel opened #146 "Clarify language about when client-side apps might be able to keep a secret"
Currently the spec says:

This doesn't directly address the case where a client-side app registers itself and obtains a unique secret (not shared with the secret installed on any other end-user's device). The phrase "embedded at install-time" implies that it might be okay to receive/embed secrets post-install, and the specification should explain this more clearly. Generally, the specification sho

[2017-09-05 13:52] jmandel opened #147 "Include a discovery parameter for optional OAuth 2.0 Token Introspection"
The SMART spec recommends (but doesn't require) that servers support dynamic registration, and includes a “register” discovery URL in the discovery protocol. Similarly, we should include an “introspect” discovery URL in the discovery protocol and recommend that EHRs support Oauth 2.0 Token Introspection. This enables a broad array of use cases where downstream parties want to understand the validi

[2017-09-05 14:25] isaacvetter commented on #136
Referring to: [http://www.hl7.org/fhir/smart-app-launch/conformance/core-set/](http://www.hl7.org/fhir/smart-app-launch/conformance/core-set/)

Making the _context-standalone-patient_ and _context-standalone-encounter_ part of the core capabilities of a SMART server require that the server implement a "patient/encounter picker".  This UI element seems above and beyond the basic authnz functionalit

[2017-09-05 15:21] isaacvetter opened #148 "replace RelatedPerson with Person for SMART server identifying user"
@whitehatguy laid out these rules on the [SMART google group](https://groups.google.com/forum/#!msg/smart-on-fhir/1F0jcaKxGsg/3Ua3bRgqDAAJ) to define what FHIR resource should be used to represent the current user with the profile/fhirUser claim:

1. For practitioners, use "Practitioner" resource.
2. If the records being shared are those of the authenticated user, use "Patient" resource.
3. For ot

[2017-09-05 15:22] isaacvetter commented on #141
Hey @daliboz , @michelemottini , @whitehatguy ,

Yes, I think this should be a separate issue. Just wrote up #148 -- did I get it right?

I'll also make this comment on the HL7 ballot.

Isaac

[2017-09-05 15:28] jmandel commented on #148
We should discuss the merits of saying "Always use `Person` when it's not a Patient or Practitioner" vs saying "Use `RelatedPerson` if possible and `Person` if not". The key point is that RelatedPerson captures the specific details/relation, and superficially at least it makes sense to use/keep this when possible (rather than prohibiting it).

[2017-09-05 15:32] isaacvetter commented on #148
Hey @jmandel ,

Why not always used RelatedPerson, but sometimes have an empty RelatedPerson.relationship ?

[2017-09-05 15:36] michelemottini commented on #148
In our server we have pretty much to use Person: you log-in as a user - that does not really have any corresponding FHIR resource beside person,. and a user can be a patient or a practitioner or neither.

We have also RelatedPerson in our database, but as a completely separate concept from users - so not really usable in connection with the authorization process

[2017-09-05 15:36] michelemottini commented on #141
Yes, thanks Isaac

[2017-09-05 15:42] isaacvetter commented on #148
Hey @michelemottini - Practitioner essentially maps to "user" in non-patient facing apps. The Person FHIR resource seems to be intentionally abstract and primarily intended for complex identity mapping.

In your system, do your Person resources contain a link reference to Practitioner, Patient or RelatedPerson?

[2017-09-05 15:50] michelemottini commented on #148
I our system Person (user) can link to a Practitioner or to a Patient or neither. Never to a RelatedPerson

[2017-09-05 16:16] Healthedata1 opened #149 "Suggested wording changes for *Support for “public” and “confidential” apps* Section"
For clarity suggest changing text from:

to:

and

to:

[2017-09-05 16:24] daliboz commented on #148
RelatedPerson (as a singular) doesn't work if I'm logging is as mom with access to my dependents or spouses. Essentially, any "patient" login where I have user/* scopes.

[2017-09-05 16:34] jmandel commented on #148
Agreed @daliboz! And thanks for the context @michelemottini. I think the decision we'll want to make is: which subset of {Patient, Practitioner, RelatedPerson, Person} we want to support at the level of the specification.

We've heard use cases for all four, on my view  -- though that doesn't mean we need to support all four.

[2017-09-05 18:25] daliboz opened #151 "Minor typo: phyical instead of physical"
http://www.hl7.org/fhir/smart-app-launch/scopes-and-launch-context/#launch-context-arrives-with-your-access_token

In description of location scope, phyical should be physical.

PR: https://github.com/smart-on-fhir/smart-on-fhir.github.io/pull/150

[2017-09-09 21:20] jmandel commented on #138
@grahamegrieve can you comment on this? I think yours is the only implementation I've heard about that may be using this scope.

[2017-09-09 21:38] grahamegrieve commented on #138
well, i won't be - as the use of smart on fhir extends outside the pure EHR plug-in context, a whole lot of people are going to need new contexts beyond the ones the smart app launch currently defines

[2017-09-09 22:01] jmandel commented on #138
OK -- so on that view, we can remove this specific scope from the spec and leave room for ad-hoc new scopes as needed or particular use cases.

[2017-09-09 22:29] jmandel commented on #135
@isaacvetter What is "the URL of the authorization server"? Does this mean the authorize URL, the token URL, the dynreg URL, or something else?

E.g. one server could have an authorization server at http://authorize.ehr.com with services like http://authorize.ehr.com/authorize, http://authorize.ehr.com/token, and http://authorize.ehr.com/register ; and another server could have services like http:

[2017-09-10 00:20] yashaskram commented on #135
It is not auth or token or reg URL but something else. It is issuer which is openid meta data https://openid.net/specs/openid-connect-discovery-1_0.html#ProviderMetadata.

with above proposal to support jws, the question is how does SMART app get the jwks_uri to inturn get the JSON web key. I think we are in need to incrementally add more open id metadata fields like issuer, jwks_uri to fhir confo

[2017-10-19 19:28] isaacvetter commented on #133
Voted on during SMART ballot call, closing.

[2017-10-19 19:28] #133 closed

[2017-11-01 16:31] leanawen opened #156 "502 Bad Gateway when sign up new account for Smart Sandbox"
Hi,
I get the "502 Bad Gateway" message when signing up a new account for Smart Sandbox online (https://sandbox.smarthealthit.org/#/start). I wonder if this is a temporary server down or Sandbox does not accept new users?
I am quite new to SMART sandbox, and I am not quite sure whether this is the right place to post the issue. Please let me know if you can direct me to a right place to post this

[2017-11-01 16:47] isaacvetter commented on #156
Hey @leanawen ,

As you suspected, this github site is not the right place to get support for that sandbox. But [this google group](https://groups.google.com/forum/#!forum/smart-on-fhir) is the right place.

Further, Travis did say that they were doing [some maintenance work](https://groups.google.com/forum/#!topic/smart-on-fhir/Gx6pTMpbF_A) over the weekend.

At any rate, you should repost your q

[2017-11-01 17:11] leanawen commented on #156
Hi @isaacvetter, Thank you very much for the information. I will repost my question to the Google group.

[2017-11-01 17:11] #156 closed

[2018-01-12 13:20] col-panic opened #157 "Consider STU3 for http://docs.smarthealthit.org/tutorials/server-quick-start/"
The QuickStart tutorial is based on an DSTU2 FHIR Server. When starting a new implementation one will use STU3 however. Is there an updated version available? Is the referenced Launch Growth Charts app fit for STU3?

[2018-01-12 13:22] col-panic commented on #157
Additionally the SMART on FHIR Authorization protocols link in the document is invalid

[2018-02-13 20:16] yanandyan opened #158 "cannot get authorization code after launch"
Hi,

I am copying code from  http://docs.smarthealthit.org/tutorials/authorization/

After launch, when the redirect URL is accessed, the "code" is undefined, I do get a valid "state" value, the authorization server did not authorize my access. How do I debug this, what did I miss?

    <script>
        // get the URL parameters received from the authorization server
        var state = getUrlPara

[2018-03-17 18:20] lcmaas opened #160 "Link to dynamic client registration documentation points to draft rather than final RFC"
The current hyperlink for Dynamic Client Registration on the SMART App Launch Framework page points to
https://tools.ietf.org/html/draft-ietf-oauth-dyn-reg-30

This spec was finalized as RFC 7591 in July 2015, so the link should be updated to point to
https://tools.ietf.org/html/rfc7591

[2018-03-17 18:54] lcmaas opened #161 "clarification of requirement to validate state"
In the second bullet point of the security considerations section, the phrase "and validate the state value included in **access tokens** it receives." should be replaced with "and validate the state value included in **access token responses** it receives."

I assume this refers to implicit grant flow. In this flow, the state value is returned by the AS as part of the access token response, but i

[2018-03-17 19:33] lcmaas opened #162 "decision to deny is not typically communicated by returning an authorization code"
The SMART App Launch Framework page currently has this text

"The EHR decides whether to grant or deny access. This decision is communicated to the app when the EHR authorization server returns an authorization code."

Denial would typically be communicated with an "error=access_denied" parameter rather than a "code=xyz" parameter. The current text might be misconstrued to mean a code is always re

[2018-03-17 20:17] lcmaas opened #163 "should an empty scopes list be permitted?"
On the Scopes and Launch Context page, one of the example granted scopes is

none  The authoriztion (sic) server chose to not grant any of the requested scopes.

I am unclear on how this could occur. If no scopes at all are granted (even some minimal "default" scope), then access has been effectively denied, and this should be communicated as such, e.g. as an access_denied error in the authorizati

[2018-03-17 20:38] lcmaas opened #164 "possible typo in conformance guidance descriptions for context-ehr-* capabilities"
The SMART on FHIR Conformance page, Launch Context for EHR Launch section, contains the following:

context-ehr-patient: support for patient-level launch context (requested by **launch/patient** scope, conveyed via patient token parameter)
context-ehr-encounter: support for encounter-level launch context (requested by **launch/encounter** scope, conveyed via encounter token parameter)

This appear

[2018-03-29 18:03] nwhatt opened #165 "Security: in the EHR Launch sequence, Applications should validate that `iss` matches something on file"
I'm working through integrating SMART EHR launch sequences with our version of SSO.

It occurred to me that a developer could very easily expose a number of sensitive things in the EHR launch flow if they don't validate `iss` on the inbound request, which the sample app does not do [see app.js](https://github.com/smart-on-fhir/sample-apps-stu3/blob/master/authorize/app.js).

The attacker would nee

[2018-03-30 12:40] JohnMoehrke commented on #165
There is a IETF RFC standard (Informative) on OAuth 2.0 - Threat Model and
Security Considerations
  see https://tools.ietf.org/html/rfc6819

John

John Moehrke
Principal Engineering Architect: Standards - Interoperability, Privacy, and
Security
CyberPrivacy – Enabling authorized communications while respecting Privacy
M +1 920-564-2067
JohnMoehrke@gmail.com
https://www.linkedin.com/in/johnmoehrke

[2018-03-30 13:04] whitehatguy commented on #165
John,

Phishing client credentials via a counterfeit authorization server isn't one of the threats listed in the OAuth 2.0 threat model.  The authors most likely did not assume that a given client would be dealing with a multiplicity of authorization servers.  This potential problem is unique to SMART on FHIR.  The only countermeasure listed in that RFC that could apply here is the use of an HMAC

[2018-03-30 13:40] jmandel commented on #165
Thanks @nwhatt, @whitehatguy! It's quite correct that any client with the possibility of leaking sensitive information (keys, PII, etc.) needs to validate an `iss` on incoming EHR Launch requests. Our JS demo apps don't generally have these properties, but our spec should certainly be clear on this point.  I should note that we're in the process of standardizing this spec through HL7 at https://gi

[2018-05-07 21:14] nwhatt commented on #165
Moved to https://github.com/HL7/smart-app-launch/issues/230

[2018-05-07 21:14] #165 closed

[2018-05-22 21:10] mkrupnic opened #166 "504 Error when attempting to sign-up for Sandbox"
When accessing the reference implementation at (https://sb-manager.smarthealthit.org/#/start) and clicking on "Signup" it thinks about for a bit then decides against it giving a 504 error.

![image](https://user-images.githubusercontent.com/3931400/40390311-c9491d00-5de2-11e8-9894-ac448eb958c5.png)

[2018-05-23 08:37] keithbriantomo commented on #135
Null

[2018-06-13 20:49] isaacvetter commented on #133
Hey Everybody, CDS Hooks [added](https://github.com/cds-hooks/docs/issues/205) an optional field in its request named `tenant` containing a string. Could we reconsider this issue in light of that ?

[2018-07-10 16:08] rdingwell opened #168 "Clarification needed around refresh_token expiration time"
Currently the authorization section of the documentation states the following:

"Access tokens SHOULD have a valid lifetime no greater than one hour, and refresh tokens (if issued) SHOULD have a valid lifetime no greater than twenty-four hours.  Confidential clients may be issued longer-lived tokens than public clients."

The 24 hour life of the refresh_token in this context really seems geared to

[2018-07-10 16:10] jmandel commented on #168
Thanks! This has been addressed in the HL7 ballot resolution process at https://github.com/hl7/smart-appl-launch. We'll be finalizing these resolutions and publishing an updated version of the spec in short order.

[2018-07-10 16:10] #168 closed

[2018-09-11 13:36] leo9223 opened #169 "How to manage data in app coming from different types of profiles?"
As we make an app on smart-on-fhir platform, if we connect that app to some random FHIR server and get patient resources from that server. There is a possibility that the patient resources coming from that server comply with their own custom patient profile (StructureDefinition).

How to handle this situation in the smart-on-fhir app?

Will the app only deal with the default fields available in th

[2018-09-11 14:30] jmandel commented on #169
When fetching a Patient resource from a server, a client will always receive a resource that's valid according to the FHIR Patient StructureDefinition. Additional profiles, like the one Argonaut has produced for use in the context of the Meaningful Use Common Clinical Data set, build on this profile; so there should never be a contradiction. The only fields present will be the ones FHIR defines, t

[2018-09-11 14:30] #169 closed

[2019-01-17 10:57] vpl-profess opened #170 "FHIR genomic sample data download not working"

[2019-01-17 10:59] vpl-profess commented on #170
Hi,

Trying to download the FHIR Genomic sample data from http://docs.smarthealthit.org/data/genomics.html I realize that the link is broken or server not answering. This data sample is key to start working with FHIR genomics ..
Regards

Vpl

[2019-04-24 17:08] johnstairs opened #172 "https://docs.smarthealthit.org broken"
It looks like the docs site does not render properly over HTTPS:

![image](https://user-images.githubusercontent.com/339432/56678539-cdb76380-6677-11e9-8378-a7d77033b6df.png)

Errors:

[code]

And the HTTPS URL is the first result on Google :)

![image](https://user-images.githubusercontent.com/339432/56678765-57ffc780-6678-11e9-9b44-bd9801c0aba0.png)

[2019-05-30 14:47] medinuity opened #173 "The Sandbox page states "The open source code to do this will be released soon.""
The Sandbox page states "The open source code to do this will be released soon."
It seems to indicate that local sandbox is not available. However, it looks like it is available today her:https://github.com/smart-on-fhir/smart-dev-sandbox

[2019-08-03 02:10] austinkjensen commented on #170
This has still not been fixed, does anyone have a work-around?

[2019-10-14 16:35] githubacharya opened #175 "Sources for fhir-client.js on "Tutorial - Building a JavaScript App" are broken"
This is link to "Tutorial - Building a JavaScript App"
https://docs.smarthealthit.org/tutorials/javascript/

That page has some references to fhir-client.js file and they are broken, i.e. give 404.

![source](https://user-images.githubusercontent.com/36452483/66767621-7223a100-ee76-11e9-8301-9b49edd5a937.png)

https://raw.githubusercontent.com/smart-on-fhir/client-js/master/dist/fhir-client.js

![

[2019-10-15 02:09] kolkheang commented on #175
The new version (2.x) has all the files under `/dist/build/` where as the old (1.x) has all the files under `/dist/`.

@fluidguid here is the new URL:
https://raw.githubusercontent.com/smart-on-fhir/client-js/master/dist/build/fhir-client.js

cc: @vlad-ignatov

[2019-10-15 02:17] fluidguid commented on #175
Yep, that link works. Thanks @kolkheang.

[2019-10-15 02:28] kolkheang commented on #175
@fluidguid
Let's keep this issue until the link is fixed.

[2019-11-15 18:24] jmandel commented on #175
More broadly, navigating from http://docs.smarthealthit.org/ to docs on the new JS library is still very hard. There are a lot of outdated examples that we should (in order of preference):

* upate to the lastst library
* annotate with notes pointing to the latest library
* remove to avoid confusion

[2019-12-26 17:12] gotdan opened #178 "CSS failing to load over https"
When accessing the new https://docs.smarthealthit.org, there are mixed content errors on the stylesheet, favicon, and logo, so the page is loading without any styles. @vlad-ignatov , when you get a minute, can you try to change the asset locations in the template to be relative urls?

[2019-12-26 17:18] vlad-ignatov commented on #178
Fixed, thanks!

[2019-12-26 17:18] #178 closed

[2020-06-19 13:27] HungUnicorn opened #179 "Broken link in Tutorials - Quick-start: Making your EHR SMART"
http://examples.smarthealthit.org/growth-chart-app/launch.html?fhirServiceUrl=https://r2.smarthealthit.org&patientId=smart-1482713
is broken and return patient not found,

in https://github.com/smart-on-fhir/smart-on-fhir.github.io/blob/master/tutorials/server-quick-start/index.md#debugging-launch-growth-charts-against-your-unprotected-server

What would be an existing `patientId`?